<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Defi" version="0.0.1">
    
    <requires>
        <import plugin-id="KnowWEExtensionPoints" />
    </requires>
    
    <runtime>
        <library id="de.d3web" path="." type="code">
            <export prefix="*" />
        </library>
        <library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
        </library>
    </runtime>
        
    <extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="AboutMe">
		<parameter id="class" value="de.knowwe.defi.AboutMe" />
		<parameter id="name" value="AboutMe" />
		<parameter id="description" value="KnowWEObjectType AboutMe" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="DefineTableMarkup">
		<parameter id="class" value="de.knowwe.defi.table.DefineTableMarkup" />
		<parameter id="name" value="DefineTableMarkup" />
		<parameter id="description" value="KnowWEObjectType DefineTableMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
	</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ShowTableTagHandler">
		<parameter id="class"
			value="de.knowwe.defi.table.ShowTableTagHandler" />
		<parameter id="name" value="ShowTableTagHandler" />
		<parameter id="description" value="TagHandler ShowTableTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="Hermes.js" />
		<parameter id="css" value="hermes.css" />
	</extension>
	
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="AboutMeSaveAction">
        <parameter id="class"
            value="de.knowwe.defi.AboutMeSaveAction" />
        <parameter id="name" value="AboutMeSaveAction" />
        <parameter id="description" value="Action AboutMeSaveAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    
    
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="LogTabClicksAction">
        <parameter id="class"
            value="de.knowwe.defi.LogTabClicksAction" />
        <parameter id="name" value="LogTabClicksAction" />
        <parameter id="description" value="Action LogTabClicksAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />      
    </extension>
    
</plugin>