<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Defi" version="0.0.1">
    
    <requires>
        <import plugin-id="KnowWEExtensionPoints" />
    </requires>
    
    <runtime>
        <library id="de.d3web" path="." type="code">
            <export prefix="*" />
        </library>
        <library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
        </library>
    </runtime>
        
    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="AboutMe">
		<parameter id="class" value="de.knowwe.defi.aboutMe.AboutMe" />
		<parameter id="name" value="AboutMe" />
		<parameter id="description" value="Type AboutMe" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="defi.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TimeTableMarkup">
		<parameter id="class" value="de.knowwe.defi.time.TimeTableMarkup" />
		<parameter id="name" value="TimeTableMarkup" />
		<parameter id="description" value="Type TimeTableMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="defi.css" />
	</extension>

    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="DataMarkup">
		<parameter id="class" value="de.knowwe.defi.readbutton.DataMarkup" />
		<parameter id="name" value="DataMarkup" />
		<parameter id="description" value="Type DataMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="defi.css" />
	</extension>	
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="DefineTableMarkup">
		<parameter id="class" value="de.knowwe.defi.table.DefineTableMarkup" />
		<parameter id="name" value="DefineTableMarkup" />
		<parameter id="description" value="Type DefineTableMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="defi.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="DynamicMenuMarkup">
		<parameter id="class" value="de.knowwe.defi.menu.DynamicMenuMarkup" />
		<parameter id="name" value="DynamicMenuMarkup" />
		<parameter id="description" value="Type DynamicMenuMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="defi.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TableEntryType">
		<parameter id="class" value="de.knowwe.defi.table.TableEntryType" />
		<parameter id="name" value="TableEntryType" />
		<parameter id="description" value="Type TableEntryType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="defi.css" />
	</extension>
	
	
	 <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="TabMenuFakeHandler">
        <parameter id="class" value="de.knowwe.defi.links.TabMenuFakeHandler" />
        <parameter id="name" value="TabMenuFakeHandler" />
        <parameter id="description" value="TagHandler TabMenuFakeHandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="css" value="defi.css" />
    </extension>
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="LeftRightNavigationBarTagHandler">
        <parameter id="class" value="de.knowwe.defi.links.LeftRightNavigationBarTagHandler" />
        <parameter id="name" value="LeftRightNavigationBarTagHandler" />
        <parameter id="description" value="TagHandler LeftRightNavigationBarTagHandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="css" value="defi.css" />
    </extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="ShowTableTagHandler">
		<parameter id="class"
			value="de.knowwe.defi.table.ShowTableTagHandler" />
		<parameter id="name" value="ShowTableTagHandler" />
		<parameter id="description" value="TagHandler ShowTableTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="KnowWE-Plugin-Defi-SubmitTable.js" />
		<parameter id="css" value="defi.css" />
	</extension>
	
    <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="TabbedLinkTaghandler">
        <parameter id="class" value="de.knowwe.defi.links.TabbedLinkTaghandler" />
        <parameter id="name" value="TabbedLinkTaghandler" />
        <parameter id="description" value="TagHandler TabbedLinkTaghandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="script" value="KnowWE-Plugin-Defi.js" />
        <parameter id="css" value="defi.css" />
    </extension>
    
        <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="ExternalLinkTaghandler">
        <parameter id="class" value="de.knowwe.defi.links.ExternalLinkTaghandler" />
        <parameter id="name" value="ExternalLinkTaghandler" />
        <parameter id="description" value="TagHandler ExternalLinkTaghandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="css" value="defi.css" />
    </extension>
    
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="TalkAboutTaghandler">
        <parameter id="class" value="de.knowwe.defi.links.TalkAboutTaghandler" />
        <parameter id="name" value="TalkAboutTaghandler" />
        <parameter id="description" value="TagHandler TalkAboutTaghandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="script" value="KnowWE-Plugin-Defi.js" />
        <parameter id="css" value="defi.css" />
    </extension>    
    
  <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="ReadbuttonTaghandler">
        <parameter id="class" value="de.knowwe.defi.readbutton.ReadButtonTaghandler" />
        <parameter id="name" value="ReadButtonTaghandler" />
        <parameter id="description" value="TagHandler ReadButtonTaghandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="script" value="KnowWE-Plugin-Defi-ReadButtonTag.js" />
        <parameter id="css" value="defi.css" />
    </extension>     
    
   <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="UserlistTaghandler">
        <parameter id="class" value="de.knowwe.defi.userlist.UserlistTaghandler" />
        <parameter id="name" value="UserlistTaghandler" />
        <parameter id="description" value="TagHandler UserlistTaghandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="css" value="defi.css" />
    </extension>  
    
     <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="DownloadPageAsPDFTaghandler">
        <parameter id="class" value="de.knowwe.defi.links.DownloadPageAsPDFTaghandler" />
        <parameter id="name" value="DownloadPageAsPDFTaghandler" />
        <parameter id="description" value="TagHandler DownloadPageAsPDFTaghandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="css" value="defi.css" />
    </extension>    
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="ReadStatusTagHandler">
        <parameter id="class" value="de.knowwe.defi.readstatus.ReadStatusTagHandler" />
        <parameter id="name" value="ReadStatusTagHandler" />
        <parameter id="description" value="TagHandler ReadStatusTagHandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="css" value="defi.css" />
    </extension>  
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="AboutMeSaveAction">
        <parameter id="class"
            value="de.knowwe.defi.aboutMe.AboutMeSaveAction" />
        <parameter id="name" value="AboutMeSaveAction" />
        <parameter id="description" value="Action AboutMeSaveAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="ReadPagesSaveAction">
        <parameter id="class"
            value="de.knowwe.defi.readbutton.ReadPagesSaveAction" />
        <parameter id="name" value="ReadPagesSaveAction" />
        <parameter id="description" value="Action ReadPagesSaveAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="InsertAdditionalTableVersionAction">
        <parameter id="class"
            value="de.knowwe.defi.table.InsertAdditionalTableVersionAction" />
        <parameter id="name" value="InsertAdditionalTableVersionAction" />
        <parameter id="description" value="Action InsertAdditionalTableVersionAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="SubmitTableContentAction">
        <parameter id="class"
            value="de.knowwe.defi.table.SubmitTableContentAction" />
        <parameter id="name" value="SubmitTableContentAction" />
        <parameter id="description" value="Action SubmitTableContentAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="LogTabClicksAction">
        <parameter id="class"
            value="de.knowwe.defi.LogTabClicksAction" />
        <parameter id="name" value="LogTabClicksAction" />
        <parameter id="description" value="Action LogTabClicksAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />      
    </extension>
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="EventListener"
        id="CommentListener">
        <parameter id="class"
            value="de.knowwe.defi.event.CommentListener" />
        <parameter id="name" value="CommentListener" />
        <parameter id="description" value="EventListener CommentListener" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>    
    
</plugin>