.drophover {
	border-style: solid;
	border-width: 2px;
	border-color: #CCCCCC;
	border-radius: 10px 10px 10px 10px;
}

.termbrowserheader {
    font-weight: bold;
}
	
.termbrowserframe {
	border-style: solid;
	border-width: 2px;
	border-color: #CCCCCC;
	background-color: ##F9F9F0;
	padding: 6px;
	border-radius: 10px 10px 10px 10px;
}

.searchBox {
	border-top-style: solid;
    border-top-width: 1px;
	margin-top: 5px;
	padding-top: 5px;	
}

.termlist {
	border-top-style: solid;
    border-top-width: 1px;
	margin-top: 5px;
	padding-top: 10px;
}

.termID {
	display:none;
}

.zebraline {
	
}
	
.zebraline:hover {
	background-color: #DDDDDD;
}
	
.zebraline-white {
	background-color: #FFFFFF;
}
	
.zebraline-white:hover {
	background-color: #DDDDDD;
}
	
td.termbrowser {
	padding: 0px;
	overflow: hidden;
}
	
.termname{
	cursor: pointer;
}
	

.openConcept, .expandConcept, .removeConcept, .deleteButton, .collapseConcept, .clearList, .hideList, .showList, .addParentConcept, .showGraph, .hideGraph, .toggleGraph, .toggleList {
cursor: pointer;
}

.narrowCell {
	padding:0px;
}
