.submit {
	cursor: pointer;
	cursor: hand;
	padding: 0;
	margin: 0;
	border: none;
	background: url(../images/b1g.png) no-repeat center;
	height: 32px;
	width: 45px;
}

.submitc {
	cursor: pointer;
	cursor: hand;
	padding: 0;
	margin: 0;
	border: none;
	background: url(../images/b2g.png) no-repeat center;
	height: 32px;
	width: 45px;
}

.ignore {
	cursor: pointer;
	cursor: hand;
	padding: 0;
	margin: 0;
	border: none;
	background: url(../images/b1x.png) no-repeat center;
	height: 32px;
	width: 45px;
}

.ignorec {
	cursor: pointer;
	cursor: hand;
	padding: 0;
	margin: 0;
	border: none;
	background: url(../images/b2x.png) no-repeat center;
	height: 32px;
	width: 45px;
}

.return {
	cursor: pointer;
	cursor: hand;
	padding: 0;
	margin: 0;
	border: none;
	background: url(../images/b1r.png) no-repeat center;
	height: 32px;
	width: 45px;
}

.returnc {
	cursor: pointer;
	cursor: hand;
	padding: 0;
	margin: 0;
	border: none;
	background: url(../images/b2r.png) no-repeat center;
	height: 32px;
	width: 45px;
}

.qmarks {
	cursor: pointer;
	cursor: hand;
	padding: 0;
	margin: 0;
	border: none;
	background: url(../images/b1a.png) no-repeat center;
	height: 32px;
	width: 45px;
}

.qmarksc {
	cursor: pointer;
	cursor: hand;
	padding: 0;
	margin: 0;
	border: none;
	background: url(../images/b2a.png) no-repeat center;
	height: 32px;
	width: 45px;
}

.buttons {
	cursor: default;
	margin-left: 5px;
}

.layout {
	border: 2px solid #aaaaaa;
	-moz-border-radius: 10px;
	-khtml-border-radius: 30px;
	display: table;
	background-color: #efefef;
	padding: 1em;
	padding-bottom: 0.5em;
}

.innerlayout {
	border: 1px solid #aaaaaa;
	-moz-border-radius: 10px;
	-khtml-border-radius: 30px;
	display: table;
	background-color: #787878;
	padding: 1em;
	padding-bottom: 0.5em;
}

.spacingtop {
	margin-top: 10px;
}

.spacingbuttons {
	margin-top: 8px;
}

.createtopic {
	font-size: 1.4em;
	font-family: Georgia, serif;
}

.concepttopic {
	font-size: 1.4em;
	font-family: Georgia, serif;
	color: #000000;
	text-decoration: none;
}

.conceptcreate {
	font-family: Georgia, serif;
}

.tags {
	font-weight: bold;
	color: #000066;
}

.mouselink {
	cursor: pointer;
	cursor: hand;
}

.savedpadding {
	padding: 0 8px;
}

.savetags {
	padding: 0 16px;
	font-weight: bold;
	color: #000066;
}