<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  	<display-name>d3web-ProKEt</display-name>
  	<welcome-file-list>
    	<welcome-file>index.html</welcome-file>
    	<welcome-file>index.htm</welcome-file>
    	<welcome-file>index.jsp</welcome-file>
    	<welcome-file>default.html</welcome-file>
    	<welcome-file>default.htm</welcome-file>
    	<welcome-file>default.jsp</welcome-file>
  	</welcome-file-list>
  
	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>de.d3web.proket.run.HelloServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Dialog</servlet-name>
		<servlet-class>de.d3web.proket.run.DialogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>D3webDialog</servlet-name>
		<servlet-class>de.d3web.proket.d3web.run.D3webDialog</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Mediastinitis</servlet-name>
		<servlet-class>de.d3web.proket.d3web.run.Mediastinitis</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Debug</servlet-name>
		<servlet-class>de.d3web.proket.run.DebugServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ControlCenter</servlet-name>
		<servlet-class>de.d3web.proket.run.ControlCenter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Herzmedizin</servlet-name>
		<servlet-class>de.d3web.proket.run.Herzmedizin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>D3webPicShow</servlet-name>
		<servlet-class>de.d3web.proket.d3web.run.D3webPicShow</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>de.d3web.proket.run.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/HelloServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Dialog</servlet-name>
		<url-pattern>/Dialog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>D3webDialog</servlet-name>
		<url-pattern>/D3webDialog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mediastinitis</servlet-name>
		<url-pattern>/Mediastinitis</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Debug</servlet-name>
		<url-pattern>/Debug</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ControlCenter</servlet-name>
		<url-pattern>/ControlCenter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Herzmedizin</servlet-name>
		<url-pattern>/Herzmedizin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>D3webPicShow</servlet-name>
		<url-pattern>/D3webPicShow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	
</web-app>