.error
{background-color: transparent;}

.warning
{background-color: transparent;}


.pointer
{cursor: pointer;}

#onte_overlay
{ width: 100%; height: 100%; position: fixed; opacity: 0.4; z-index: 200;background-color: #3F4C58;left:0; top:0; }
      
#onte_modal 
{ z-index: 200; position: absolute;}
    
    #onte_modal_close
    {cursor: pointer;}
      
    .onte_modal_rounded
    {-moz-border-radius: 10px;-webkit-border-radius: 10px; border-radius: 10px; 
     -moz-box-shadow: 0 0 5px 5px #666; -webkit-box-shadow: 0 0 5px 5px#666; box-shadow: 0 0 5px 5px #666;
      border-width: 5px; border-color:rgb(255,255,255);border-style: solid; }
      
    
.ox 
{ background-color: #0067CF; border-bottom: 1px solid #0264C7; color: rgb(255,255,255); font-weight bold; height: 29px; width: 100%; }

.onte-box
    {background: none repeat scroll 0 0 #F5F5F5;border: 1px solid #E5E5E5;padding:8px 0 10px 20px;position:relative;overflow:auto;}
    
    .onte-button 
    { border: 1px solid #CCCCCC; background-color: #F5F5F5; border-radius: 2px 2px 2px 2px; color: #444444;
      display: inline-block; line-height: 27px; padding: 0 8px; text-align: center; }
      
    .onte-button-txt 
    {border: 1px solid #CCCCCC; background-color: #87A890; border-radius: 2px 2px 2px 2px; color: #FFFFFF;
      display: inline-block; line-height: 27px; padding: 0 8px; text-align: center;}
    
    .onte-button.small 
    { min-width: 34px; padding: 0; width: 34px;}

    .onte-button:active, .onte-button-txt:active
    {box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset; }
       
    .article-link
    {background: url(../images/onte/emblem-link.png) no-repeat scroll center center transparent; height: 8px; width: 8px;}
    
    .onte-input-container 
    {background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #CCCCCC; display: block; height: 30px; padding-right: 12px; }
    
    .onte-focused
    {border-color: #4D90FE}
    
    .onte-input
    {background: none repeat scroll 0 0 transparent; border: 0 none;
    font-size: 138%; height: 22px; padding: 4px 0 0 6px; vertical-align: top; width: 200px;}
    
    .onte-options input[text], .onte-options select
    {width: 200px;}
    
        .onte-input-field:focus
        {outline: medium none; }
    
    .onte-textarea
    {-moz-box-sizing: border-box;
    height: 160px; overflow-x: auto; overflow-y: hidden; padding-right: 20px; }

    
    .onte-options label.option
    {display: inline-block; margin: 9px 0 0;}
    
    .onte-option-label
    { color: #666666; font-weight: normal; line-height: 0; padding: 0 0 0 0.4em;}
    
    #onte-query-tab-results-content
    {overflow-x: hidden; overflow-y: auto; width:100%; height:200px;background-color:rgb(255,255,255);}
    
    
 .onte-result .onte-explanation-details  
 { display: none;}
 
    .onte-result:hover .onte-explanation-details, onte-result.hover .onte-explanation-details
    { position:absolute;display:block; z-index:200; margin-left:100px; bottom:10%; left: 10%;}
    
    
ul
{padding-left: 0px}

li 
{padding-left:20px; list-style-type:none;}

    .treeview li
    {background: url("../images/onte/treeview-default-line.gif") no-repeat scroll 0 0 transparent;}
    
    .treeview li.last
    {background-position: 0 -1766px;}
    
    .treeview span
    { cursor: pointer; }


.treeicon
{height:16px; width:16px;margin-left: -20px;float:left; cursor: pointer; }
    
    .expanded
    {background: url("../images/onte/expanded.png") no-repeat scroll top left transparent;}

    .last_expanded
    {background: url("../images/onte/last_expanded.png") no-repeat scroll top left transparent;}

    .closed
    {background: url("../images/onte/closed.png") no-repeat scroll top left transparent;}

    .last_closed
    {background: url("../images/onte/last_closed.png") no-repeat scroll top left transparent;}

    .leaf
    {background: url("../images/onte/leaf.png") no-repeat scroll top left transparent;}

    .last_leaf
    {background: url("../images/onte/last_leaf.png") no-repeat scroll top left transparent;}

    
.noShow
{ display:none; visibility:hidden;}

.show
{ display:block; visibility:visible;}


#onte-ontology-browser
{padding: 0;}

    #oob-header
    {padding: 8px 0 10px 20px;}
    
        #oob-header img
        {vertical-align:-5px; padding-right:20px;}

    #oob-navigation
    {}
    
        #oob-navigation ul 
        {margin:0;}
        
        #oob-navigation ul li
        {float: left; border-right: 1px solid #E5E5E5; padding: 4px; font: bold 16px/32px Arial,sans-serif; height: 35px; padding: 0 32px;}
                
    #oob-buttons
    {float: left; width: 35px; padding: 4px;}
        
        
    #oob-hierarchy
    {float:left; width:30%;}

    #oob-information
    {float:right; width:58%;}
    
    .oob-bar
    {border-top: 1px solid #E5E5E5;}
    
    .oob-box
    {background-color: rgb(255,255,255); border:1px solid #E5E5E5; border-radius: 5px 5px 5px 5px; margin: 0 5px 10px; padding: 20px 20px 9px;}
    
    .oob-clicked
    {background-color:#FFFE9D;}
    
    
.simpletabs li
{cursor: pointer; }

.simpletab-active 
{background-color:#BF0000; color: #FFF}
    