<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-InlineAnswer" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="AnnotationAction">
		<parameter id="class" value="de.d3web.knowwe.action.AnnotationAction" />
		<parameter id="name" value="AnnotationAction" />
		<parameter id="description" value="Action AnnotationAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SetFindingAction">
		<parameter id="class" value="de.d3web.knowwe.action.SetFindingAction" />
		<parameter id="name" value="SetFindingAction" />
		<parameter id="description" value="Action SetFindingAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="RetractFindingAction">
		<parameter id="class" value="de.d3web.knowwe.action.RetractFindingAction" />
		<parameter id="name" value="RetractFindingAction" />
		<parameter id="description" value="Action RetractFindingAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Annotation">
		<parameter id="class" value="de.d3web.knowwe.type.Annotation" />
		<parameter id="name" value="Annotation" />
		<parameter id="description" value="Type Annotation" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="semanticannotation.js" />
	</extension>
	
</plugin>