<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Revisions" version="0.0.1">
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
                id="RevisionType">
                <parameter id="class"
                        value="de.knowwe.revisions.RevisionType" />
                <parameter id="name" value="RevisionType" />
                <parameter id="description" value="Type RevisionType" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
                <parameter id="scope" value="root" />
        </extension>

	    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
                id="RevManagerType">
                <parameter id="class"
                        value="de.knowwe.revisions.timeline.RevManagerType" />
                <parameter id="name" value="RevManagerType" />
                <parameter id="description" value="Type RevManagerType" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
                <parameter id="scope" value="root" />
                <parameter id="script" value="KnowWE-Plugin-Revisions-Timeline.js" />
                <parameter id="script" value="KnowWE-Plugin-Revisions.js" />
        		<parameter id="css" value="KnowWE-Plugin-Revisions-Timeline.css" />
        </extension>
        
       	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="ShowRevisionAction">
			<parameter id="class"
				value="de.knowwe.revisions.timeline.ShowRevisionAction" />
			<parameter id="name" value="ShowRevisionAction" />
			<parameter id="description" value="Action ShowRevisionAction" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="SaveRevisionAction">
			<parameter id="class"
				value="de.knowwe.revisions.timeline.SaveRevisionAction" />
			<parameter id="name" value="SaveRevisionAction" />
			<parameter id="description" value="Action SaveRevisionAction" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="RestoreRevisionAction">
			<parameter id="class"
				value="de.knowwe.revisions.RestoreRevisionAction" />
			<parameter id="name" value="RestoreRevisionAction" />
			<parameter id="description" value="Action RestoreRevisionAction" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="TextDiffAction">
			<parameter id="class"
				value="de.knowwe.revisions.diff.TextDiffAction" />
			<parameter id="name" value="TextDiffAction" />
			<parameter id="description" value="Action TextDiffAction" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
	
</plugin>
