<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Revisions" version="0.0.1">
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
                id="RevisionType">
                <parameter id="class"
                        value="de.knowwe.revisions.RevisionType" />
                <parameter id="name" value="RevisionType" />
                <parameter id="description" value="Type RevisionType" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
                <parameter id="scope" value="root" />
        </extension>

	    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
                id="TimelineType">
                <parameter id="class"
                        value="de.knowwe.revisions.timeline.TimelineType" />
                <parameter id="name" value="TimelineType" />
                <parameter id="description" value="Type TimelineType" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
                <parameter id="scope" value="root" />
                <parameter id="script" value="timeline.js" />
                <parameter id="script" value="timeline-helper.js" />
        		<parameter id="css" value="timeline.css" />
        </extension>
        
       	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="TimelineSelectAction">
			<parameter id="class"
				value="de.knowwe.revisions.timeline.TimelineSelectAction" />
			<parameter id="name" value="TimelineSelectAction" />
			<parameter id="description" value="Action TimelineSelectAction" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="TimelineSaveAction">
			<parameter id="class"
				value="de.knowwe.revisions.timeline.TimelineSaveAction" />
			<parameter id="name" value="TimelineSaveAction" />
			<parameter id="description" value="Action TimelineSaveAction" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
	
</plugin>
