<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Revisions" version="0.0.1">
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
                id="RevisionType">
                <parameter id="class"
                        value="de.knowwe.revisions.RevisionType" />
                <parameter id="name" value="RevisionType" />
                <parameter id="description" value="Type RevisionType" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
                <parameter id="scope" value="root" />
        </extension>
        
       	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
                id="UploaderType">
                <parameter id="class"
                        value="de.knowwe.revisions.upload.UploaderType" />
                <parameter id="name" value="UploaderType" />
                <parameter id="description" value="Type UploaderType" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
                <parameter id="scope" value="root" />
        </extension>

	    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
                id="RevisionManagerType">
                <parameter id="class"
                        value="de.knowwe.revisions.manager.RevisionManagerType" />
                <parameter id="name" value="RevisionManagerType" />
                <parameter id="description" value="Type RevisionManagerType" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
                <parameter id="scope" value="root" />
                <parameter id="script" value="KnowWE-Plugin-Revisions-Timeline.js" />
                <parameter id="script" value="KnowWE-Plugin-Revisions.js" />
        		<parameter id="css" value="KnowWE-Plugin-Revisions-Timeline.css" />
        </extension>
        
       	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="WikiRevDetails">
			<parameter id="class"
				value="de.knowwe.revisions.manager.action.details.WikiRevDetails" />
			<parameter id="name" value="WikiRevDetails" />
			<parameter id="description" value="Show a revision" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
       	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="WikiDateDetails">
			<parameter id="class"
				value="de.knowwe.revisions.manager.action.details.WikiDateDetails" />
			<parameter id="name" value="WikiDateDetails" />
			<parameter id="description" value="Show a revision" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
       	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="UnsavedRevDetails">
			<parameter id="class"
				value="de.knowwe.revisions.manager.action.details.UnsavedRevDetails" />
			<parameter id="name" value="UnsavedRevDetails" />
			<parameter id="description" value="Show a revision" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="UploadedRevDetails">
			<parameter id="class"
				value="de.knowwe.revisions.manager.action.details.UploadedRevDetails" />
			<parameter id="name" value="UploadedRevDetails" />
			<parameter id="description" value="Show a revision" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="CurrentRevDetails">
			<parameter id="class"
				value="de.knowwe.revisions.manager.action.details.CurrentRevDetails" />
			<parameter id="name" value="CurrentRevDetails" />
			<parameter id="description" value="Show a revision" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="SaveRevision">
			<parameter id="class"
				value="de.knowwe.revisions.manager.action.SaveRevision" />
			<parameter id="name" value="SaveRevision" />
			<parameter id="description" value="Save a revision" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="RestoreRevision">
			<parameter id="class"
				value="de.knowwe.revisions.manager.action.RestoreRevision" />
			<parameter id="name" value="RestoreRevision" />
			<parameter id="description" value="Restores a revision." />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="SimpleTextDiff">
			<parameter id="class"
				value="de.knowwe.revisions.manager.action.SimpleTextDiff" />
			<parameter id="name" value="SimpleTextDiff" />
			<parameter id="description" value="Shows a simple text diff" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="UploadedTextDiff">
			<parameter id="class"
				value="de.knowwe.revisions.manager.action.UploadedTextDiff" />
			<parameter id="name" value="UploadedTextDiff" />
			<parameter id="description" value="Shows a text diff for uploaded revision page" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="DownloadRevisionZip">
			<parameter id="class" value="de.knowwe.revisions.manager.action.DownloadRevisionZip" />
			<parameter id="name" value="DownloadRevisionZip" />
			<parameter id="description"
				value="Downloads a specific revision." />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
		
		<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
			id="UploadRevisionZip">
			<parameter id="class" value="de.knowwe.revisions.upload.UploadRevisionZip" />
			<parameter id="name" value="UploadRevisionZip" />
			<parameter id="description"
				value="Uploads a specific revision." />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="5" />
		</extension>
</plugin>
