<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-ConceptPageLinkToolProvider" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<!--
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="ConceptPageLinkProvider">
		<parameter id="class"
			value="de.knowwe.tool.conceptLink.ConceptPageLinkProvider" />
		<parameter id="name" value="ConceptPageLinkProvider" />
		<parameter id="description"
			value="Offer a link to the page with the corresponding name." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="TermReference" />

	</extension>
-->
	
</plugin>