<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin version="0.0.1" id="KnowWE-Plugin-SemanticWikiSeedingLOD">
        
        <requires>
                <import plugin-id="KnowWEExtensionPoints" />
        </requires>
        
        <runtime>
                <library id="de.d3web" path="." type="code">
                        <export prefix="*" />
                </library>
                <library id="webapp" path="webapp/" type="resources">
			    		<export prefix="*" />
				</library>
        </runtime>
        
        <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
                id="ConceptHandler">
                <parameter id="class"
                        value="de.d3web.we.lod.taghandler.ConceptHandler" />
                <parameter id="name" value="ConceptHandler" />
                <parameter id="description" value="TagHandler ConceptHandler" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
        </extension>

 		<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
                id="GetDataHandler">
                <parameter id="class"
                        value="de.d3web.we.lod.taghandler.GetDataHandler" />
                <parameter id="name" value="GetDataHandler" />
                <parameter id="description" value="TagHandler GetDataHandler" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
        </extension>

		<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="DBpediaContentType">
			<parameter id="class"
			value="de.d3web.we.lod.markup.DBpediaMappingMarkup" />
			<parameter id="name" value="DBpediaMappingMarkup" />
			<parameter id="description" value="KnowWEObjectType DBpediaMappingMarkup" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="4.5" /><parameter id="scope"
			value="root" />
			<parameter id="script" value="KnowWE-Plugin-SWSLOD.js" />
		</extension>
	
    	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="GetDataAction">
        	<parameter id="class"
            value="de.d3web.we.lod.action.GetDataAction" />
        	<parameter id="name" value="GetDataAction" />
        	<parameter id="description" value="Action GetDataAction" />
        	<parameter id="version" value="1.0" />
        	<parameter id="priority" value="5" />
    	</extension>		

</plugin>