<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin version="0.0.1" id="KnowWE-Plugin-SemanticWikiSeedingLOD">
        
        <requires>
                <import plugin-id="KnowWEExtensionPoints" />
        </requires>
        
        <runtime>
                <library id="de.d3web" path="." type="code">
                        <export prefix="*" />
                </library>
                <library id="webapp" path="webapp/" type="resources">
			    		<export prefix="*" />
				</library>
        </runtime>
        
        <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
                id="ConceptHandler">
                <parameter id="class"
                        value="de.d3web.we.lod.taghandler.ConceptHandler" />
                <parameter id="name" value="ConceptHandler" />
                <parameter id="description" value="TagHandler ConceptHandler" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
        </extension>

 		<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
                id="GetDataHandler">
                <parameter id="class"
                        value="de.d3web.we.lod.taghandler.GetDataHandler" />
                <parameter id="name" value="GetDataHandler" />
                <parameter id="description" value="TagHandler GetDataHandler" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
        </extension>
        
        <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
                id="BirthplaceQuizHandler">
                <parameter id="class"
                        value="de.d3web.we.lod.quiz.BirthplaceQuizHandler" />
                <parameter id="name" value="GetDataHandler" />
                <parameter id="description" value="TagHandler BirthplaceQuizHandler" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
        </extension>
        
        <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
                id="YearOfBirthQuizHandler">
                <parameter id="class"
                        value="de.d3web.we.lod.quiz.YearOfBirthQuizHandler" />
                <parameter id="name" value="YearOfBirthQuizHandler" />
                <parameter id="description" value="TagHandler YearOfBirthQuizHandler" />
                <parameter id="version" value="1.0" />
                <parameter id="priority" value="5" />
        </extension>

		<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="MappingContentType">
			<parameter id="class"
			value="de.d3web.we.lod.markup.MappingMarkup" />
			<parameter id="name" value="MappingMarkup" />
			<parameter id="description" value="KnowWEObjectType MappingMarkup" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="2.0" />
			<parameter id="scope" value="root" />
			<parameter id="script" value="KnowWE-Plugin-SWSLOD.js" />
			<parameter id="css" value="lod.css" />
		</extension>
		
		<extension plugin-id="KnowWEExtensionPoints" point-id="KnowWEObjectType"
		id="IgnoreContentType">
			<parameter id="class"
			value="de.d3web.we.lod.markup.IgnoreAttributesMarkup" />
			<parameter id="name" value="IgnoreAttributesMarkup" />
			<parameter id="description" value="KnowWEObjectType IgnoreAttributesMarkup" />
			<parameter id="version" value="1.0" />
			<parameter id="priority" value="4.5" />
			<parameter id="scope" value="root" />
		 	<parameter id="script" value="KnowWE-Plugin-SWSLOD.js" />
			<parameter id="css" value="lod.css" />
		</extension>
	
    	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="GetDataAction">
        	<parameter id="class"
            value="de.d3web.we.lod.action.GetDataAction" />
        	<parameter id="name" value="GetDataAction" />
        	<parameter id="description" value="Action GetDataAction" />
        	<parameter id="version" value="1.0" />
        	<parameter id="priority" value="5" />
    	</extension>	
    		
    	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="ParseDataAction">
        	<parameter id="class"
            value="de.d3web.we.lod.action.ParseDataAction" />
        	<parameter id="name" value="ParseDataAction" />
        	<parameter id="description" value="Action ParseDataAction" />
        	<parameter id="version" value="1.0" />
        	<parameter id="priority" value="5" />
    	</extension>	
    	
    	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="CreateAction">
        	<parameter id="class"
            value="de.d3web.we.lod.action.CreateAction" />
        	<parameter id="name" value="CreateAction" />
        	<parameter id="description" value="Action CreateAction" />
        	<parameter id="version" value="1.0" />
        	<parameter id="priority" value="5" />
    	</extension>	
    	
    	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="MappingsAction">
        	<parameter id="class"
            value="de.d3web.we.lod.action.MappingsAction" />
        	<parameter id="name" value="MappingsAction" />
        	<parameter id="description" value="Action MappingsAction" />
        	<parameter id="version" value="1.0" />
        	<parameter id="priority" value="5" />
    	</extension>	
    	
    	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="CreateBirthplaceAction">
        	<parameter id="class"
            value="de.d3web.we.lod.quiz.action.CreateBirthplaceAction" />
        	<parameter id="name" value="CreateBirthplaceAction" />
        	<parameter id="description" value="Action CreateBirthplaceAction" />
        	<parameter id="version" value="1.0" />
        	<parameter id="priority" value="5" />
    	</extension>	
    	
    	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="SolveBirthplaceAction">
        	<parameter id="class"
            value="de.d3web.we.lod.quiz.action.SolveBirthplaceAction" />
        	<parameter id="name" value="SolveBirthplaceAction" />
        	<parameter id="description" value="Action SolveBirthplaceAction" />
        	<parameter id="version" value="1.0" />
        	<parameter id="priority" value="5" />
    	</extension>	
    	
    	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="CreateYearOfBirthAction">
        	<parameter id="class"
            value="de.d3web.we.lod.quiz.action.CreateYearOfBirthAction" />
        	<parameter id="name" value="CreateYearOfBirthAction" />
        	<parameter id="description" value="Action CreateYearOfBirthAction" />
        	<parameter id="version" value="1.0" />
        	<parameter id="priority" value="5" />
    	</extension>	
    	
    	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="SolveYearOfBirthAction">
        	<parameter id="class"
            value="de.d3web.we.lod.quiz.action.SolveYearOfBirthAction" />
        	<parameter id="name" value="SolveYearOfBirthAction" />
        	<parameter id="description" value="Action SolveYearOfBirthAction" />
        	<parameter id="version" value="1.0" />
        	<parameter id="priority" value="5" />
    	</extension>	
    	

</plugin>