<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-KnowledgeSummary" version="1.0">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

		
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="KnowledgeSummary">
		<parameter id="class"
			value="de.knowwe.d3web.summary.KnowledgeSummaryMarkup" />
		<parameter id="name" value="KnowledgeSummaryMarkup" />
		<parameter id="description" value="KnowWEObjectType KnowledgeSummaryMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="OntologySummary">
		<parameter id="class"
			value="de.knowwe.ontology.summary.OntologySummaryMarkup" />
		<parameter id="name" value="OntologySummaryMarkup" />
		<parameter id="description" value="KnowWEObjectType OntologySummaryMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>

</plugin>