<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Ontology-TermBrowser" version="0.0.1">
    
    <requires>
        <import plugin-id="KnowWEExtensionPoints" />
        <import plugin-id="KnowWE-Plugin-Rdf2GoSemanticCore" />
        <import plugin-id="KnowWE-Plugin-TermBrowser" />
    </requires>
    
    <runtime>
        <library id="de.d3web" path="." type="code">
            <export prefix="*" />
        </library>
        <library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
        </library>
    </runtime>

    <extension plugin-id="KnowWE-Plugin-Rdf2GoSemanticCore" point-id="SparqlResultNodeRenderer"
               id="SparqlResultNodeDragRenderer">
        <parameter id="class" value="de.knowwe.ontology.browser.SparqlResultNodeDragRenderer" />
        <parameter id="name" value="SparqlResultNodeDragRenderer" />
        <parameter id="description" value="NodeRenderer SparqlResultNodeDragRenderer" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="1" />
    </extension>
    	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="HierarchyProvider"
		id="OntologyHierarchyProvider">
		<parameter id="class"
			value="de.knowwe.ontology.browser.OntologyHierarchyProvider" />
		<parameter id="name" value="OntologyHierarchyProvider" />
		<parameter id="description" value="OntologyHierarchyProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="TermDetector"
		id="OntologyTermDetector">
		<parameter id="class"
			value="de.knowwe.ontology.browser.OntologyTermDetector" />
		<parameter id="name" value="OntologyTermDetector" />
		<parameter id="description" value="OntologyTermDetector" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="DragDropInserter"
		id="PredicateDragDropInserter">
		<parameter id="class"
			value="de.knowwe.ontology.turtle.edit.PredicateDragDropInserter" />
		<parameter id="name" value="PredicateDragDropInserter" />
		<parameter id="description" value="PredicateDragDropInserter" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1" />
		<parameter id="scope" value="Predicate" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="DragDropInserter"
		id="SubjectDragDropInserter">
		<parameter id="class"
			value="de.knowwe.ontology.turtle.edit.SubjectDragDropInserter" />
		<parameter id="name" value="SubjectDragDropInserter" />
		<parameter id="description" value="SubjectDragDropInserter" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1" />
		<parameter id="scope" value="Subject" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="DragDropInserter"
		id="ExpectedSparqlResultCellDragDropInserter">
		<parameter id="class"
			value="de.knowwe.ontology.browser.ci.ExpectedSparqlResultCellDragDropInserter" />
		<parameter id="name" value="ExpectedSparqlResultCellDragDropInserter" />
		<parameter id="description" value="ExpectedSparqlResultCellDragDropInserter" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1" />
		<parameter id="scope" value="ExpectedSparqlResultTableCellContent" />
	</extension>

	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="DragDropInserter"
		id="TurtleSemicolonDragDropInserter">
		<parameter id="class"
			value="de.knowwe.ontology.turtle.edit.TurtleSemicolonDragDropInserter" />
		<parameter id="name" value="TurtleSemicolonDragDropInserter" />
		<parameter id="description" value="TurtleSemicolonDragDropInserter" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1" />
		<parameter id="scope" value="TurtleDragDropSemicolonType" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TurtleDragDropSemicolonType">
		<parameter id="class"
			value="de.knowwe.ontology.turtle.edit.TurtleDragDropSemicolonType" />
		<parameter id="name" value="TurtleDragDropSemicolonType" />
		<parameter id="description" value="Type TurtleDragDropSemicolonType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="PredicateObjectSentenceList" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="DragDropInserter"
		id="TurtleCommaDragDropInserter">
		<parameter id="class"
			value="de.knowwe.ontology.turtle.edit.TurtleCommaDragDropInserter" />
		<parameter id="name" value="TurtleCommaDragDropInserter" />
		<parameter id="description" value="TurtleCommaDragDropInserter" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1" />
		<parameter id="scope" value="TurtleDragDropCommaType" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TurtleDragDropCommaType">
		<parameter id="class"
			value="de.knowwe.ontology.turtle.edit.TurtleDragDropCommaType" />
		<parameter id="name" value="TurtleDragDropCommaType" />
		<parameter id="description" value="Type TurtleDragDropCommaType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="ObjectList" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="DragDropInserter"
		id="TurtleDotDragDropInserter">
		<parameter id="class"
			value="de.knowwe.ontology.turtle.edit.TurtleDotDragDropInserter" />
		<parameter id="name" value="TurtleDotDragDropInserter" />
		<parameter id="description" value="TurtleDotDragDropInserter" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1" />
		<parameter id="scope" value="TurtleDragDropDotType" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TurtleDragDropDotType">
		<parameter id="class"
			value="de.knowwe.ontology.turtle.edit.TurtleDragDropDotType" />
		<parameter id="name" value="TurtleDragDropDotType" />
		<parameter id="description" value="Type TurtleDragDropDotType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="TurtleContent" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Renderer" id="TermDragRenderer">
		<parameter id="class" value="de.knowwe.ontology.turtle.edit.TermDragRenderer" />
		<parameter id="name" value="TermDragRenderer" />
		<parameter id="description" value="Type TermDragRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="TurtleURI" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Renderer" id="TermLazyDragRenderer">
		<parameter id="class" value="de.knowwe.ontology.turtle.edit.TermLazyDragRenderer" />
		<parameter id="name" value="TermLazyDragRenderer" />
		<parameter id="description" value="Type TermLazyDragRenderer" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="LazyURIReference" />
	</extension>


	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="AutoCompletionSlotProvider" id="OntologyAutoCompletionSlotProvider">
		<parameter id="class" value="de.knowwe.ontology.autocompletion.OntologyCompletionSlotProvider" />
		<parameter id="name" value="OntologyCompletionSlotProvider" />
		<parameter id="description" value="OntologyCompletionSlotProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
	</extension>

</plugin>