<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Ontology-TermBrowser" version="0.0.1">
    
    <requires>
        <import plugin-id="KnowWEExtensionPoints" />
        <import plugin-id="KnowWE-Plugin-TermBrowser" />
    </requires>
    
    <runtime>
        <library id="de.d3web" path="." type="code">
            <export prefix="*" />
        </library>
        <library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
        </library>
    </runtime>
    
    
    	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="HierarchyProvider"
		id="OntologyHierarchyProvider">
		<parameter id="class"
			value="de.knowwe.ontology.browser.OntologyHierarchyProvider" />
		<parameter id="name" value="OntologyHierarchyProvider" />
		<parameter id="description" value="OntologyHierarchyProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="TermDetector"
		id="OntologyTermDetector">
		<parameter id="class"
			value="de.knowwe.ontology.browser.OntologyTermDetector" />
		<parameter id="name" value="OntologyTermDetector" />
		<parameter id="description" value="OntologyTermDetector" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="DragDropInserter"
		id="PredicateDragDropInserter">
		<parameter id="class"
			value="de.knowwe.ontology.turtle.edit.PredicateDragDropInserter" />
		<parameter id="name" value="PredicateDragDropInserter" />
		<parameter id="description" value="PredicateDragDropInserter" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1" />
		<parameter id="scope" value="Predicate" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="DragDropInserter"
		id="SubjectDragDropInserter">
		<parameter id="class"
			value="de.knowwe.ontology.turtle.edit.SubjectDragDropInserter" />
		<parameter id="name" value="SubjectDragDropInserter" />
		<parameter id="description" value="SubjectDragDropInserter" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1" />
		<parameter id="scope" value="Subject" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="DragDropInserter"
		id="ExpectedSparqlResultCellDragDropInserter">
		<parameter id="class"
			value="de.knowwe.ontology.browser.ci.ExpectedSparqlResultCellDragDropInserter" />
		<parameter id="name" value="ExpectedSparqlResultCellDragDropInserter" />
		<parameter id="description" value="ExpectedSparqlResultCellDragDropInserter" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1" />
		<parameter id="scope" value="ExpectedSparqlResultTableCellContent" />
	</extension>
	
	
	
</plugin>