/*.Flowchart .Node*/ 
.Node.reviewMarked, .Rule.reviewMarked .v_line, .Rule.reviewMarked .h_line{
	border: 2px solid green;
}

div.reviewPanel {
	margin: 6px;
	border: 1px solid #EEEEEE;
    border-radius: 6px 6px 6px 6px;
}

ul.reviewList {
	padding: 1em;
    margin: 0;
    position: relative;
    width: 70%;
}

ul.reviewList li.selected {
    background-color: white;
    border: 2px solid #E3E8E2;
    border-radius: 6px 6px 6px 6px;
}

ul.reviewList li {
    background-color: #F9F9F9;
    border: 1px solid #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    /**cursor: n-resize;**/
    list-style: none outside none;
    margin: 6px;
    padding: 6px 9px;
    position: relative;
    min-height: 50px;
    
}

ul.reviewList li:hover {
    border-color: #9BE0F9;
    box-shadow: 0 0 5px #A6E5FD;
}

div.reviewItemInfo {
	color: grey;
}

div.reviewText{
	
}

.reviewItem {
	white-space: pre-wrap;
}

.reviewItem textarea {
	width: 80%;
	border:1px solid #999999;
}

.reviewItem .reviewActions {
    position: absolute;
    right: 7px;
    bottom: 20px;
    visibility: hidden;
}

.reviewItem.selected div.reviewActions {
	visibility: visible;	
}

.reviewItem.selected.editing div.reviewActions {
	visibility: hidden;	
}

.reviewItem div.reviewActions:hover {
    visibility: visible;
}

.reviewItem .reviewActions a {
    display: block;
    float: left;
    height: 16px;
    margin: 3px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
}

.reviewItem .reviewActions a.editItem {
    background: url("../image/edit.png") no-repeat scroll center center transparent;
}
.reviewItem .reviewActions a.deleteItem {
    background: url("../image/delete.png") no-repeat scroll center center transparent;
}

.editActions {
    font-size: 0.7em;
    padding-left: 9px;
}
.editActions a {
    font-weight: bold;
}
a.saveChanges {
    color: #4DB209 !important;
    margin-right: 5px;
}
a.discardChanges {
    color: #CC0000 !important;
}

div.reviewToolbar {
	
}

div.reviewItemStatus {
	margin-left: 2px;
	display: inline-block;
}

div.reviewItemPriority {
	display: inline-block;
}

a.saveReview {
	display: inline-block;
    height: 16px;
    margin: 3px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
	background: url("../images/save_edit.gif") no-repeat scroll center center transparent;
}

a.saveReview.modified {
	box-shadow: 0 0 5px #E6354D;
}

a.addItem {
	display: inline-block;
    height: 16px;
    margin: 3px;
    overflow: hidden;
    text-indent: -9999px;
    width: 16px;
	background: url("../images/dt_icon_q_description.png") no-repeat scroll center center transparent;
}

/*o.v.*/

.image-dropdown {
    /*style the "box" in its minimzed state*/
    border: 1px solid #EEEEEE;
    border-radius: 2px 2px 2px 2px;
  	/*width:20px; 
    height: 20px;*/
	overflow: hidden;
}
.image-dropdown:hover {
    /*when expanded, the dropdown will get native means of scrolling*/
    overflow-y: visible;
   
}

.image-dropdown input {
    position:absolute;
    top:0;
    left:0;
    opacity:0;
}

.image-dropdown label {
    /*style the labels to look like dropdown options, kinda*/
    display:none; 
    /*margin:2px;*/ 
    /*height:16px;*/  
    opacity:0.2;
}

.reviewItemPriority.image-dropdown label{
	display: none;
}

.reviewItemPriority label{
	width:16px; 
    height: 16px;
    padding: 0px;
    display:block;
    margin: 0px;
}

.reviewItemPriority label[for=low] {
    background:url("../image/priority_low.png") no-repeat;
}

.reviewItemPriority label[for=important] {
    background:url("../image/priority_important.png") no-repeat scroll center center transparent;
}

.reviewItemPriority label[for=critical] {
    background:url("../image/priority_critical.png") no-repeat scroll center center transparent;
}

.image-dropdown:hover label{
    /*this is how labels render in the "expanded" state. we want to see only the selected radio button in the collapsed menu, and all of them when expanded*/
    display:block;
}
.image-dropdown label:hover {
    opacity:0.5;
}
.image-dropdown input:checked + label {
    /*tricky! labels immediately following a checked radio button (with our markup they are semantically related) should be fully opaque regardless of hover, and they should always be visible (i.e. even in the collapsed menu*/
    opacity:1 !important; display:block;
}



