<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-RDFS-WikiObjectModel" version="0.0.1">
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Instantiation"
		id="WikiObjectModel">
		<parameter id="class"
			value="de.knowwe.rdfs.wikiObjectModel.WikiObjectModel" />
		<parameter id="name" value="WikiObjectModel" />
		<parameter id="description" value="Instantiation to add the WikiObjectModel to the RDF2GoCore" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	

</plugin>
