<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Rdf2GoSemanticCore" version="0.0.1">
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Namespaces">
		<parameter id="class"
			value="de.d3web.we.kdom.namespaces.rdf2go.Namespaces" />
		<parameter id="name" value="Namespaces" />
		<parameter id="description" value="Type Namespaces" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Rdf2GoSemanticCore.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="SparqlType">
		<parameter id="class"
			value="de.knowwe.rdf2go.utils.SparqlType" />
		<parameter id="name" value="SparqlType" />
		<parameter id="description" value="Type SparqlType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="EventListener"
		id="Rdf2GoCoreEventListener">
		<parameter id="class"
			value="de.knowwe.rdf2go.Rdf2GoCore" />
		<parameter id="name" value="Rdf2GoCore" />
		<parameter id="description" value="EventListener Rdf2GoCore" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="DumpHandler">
		<parameter id="class"
			value="de.knowwe.rdf2go.utils.DumpHandler" />
		<parameter id="name" value="DumpHandler" />
		<parameter id="description" value="TagHandler DumpHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="Rdf2GoPageViewHandler">
		<parameter id="class"
			value="de.knowwe.rdf2go.utils.Rdf2GoPageViewHandler" />
		<parameter id="name" value="DumpHandler" />
		<parameter id="description" value="TagHandler Rdf2GoPageViewHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<!--
	<extension plugin-id="KnowWEExtensionPoints" point-id="DefaultMarkupSubtreeHandler"
		id="DefaultMarkupOwlHandlerForRdf2Go">
		<parameter id="class"
			value="de.d3web.we.kdom.defaultMarkup.DefaultMarkupOwlHandlerForRdf2Go" />
		<parameter id="name" value="DefaultMarkupOwlHandlerForRdf2Go" />
		<parameter id="description" value="Subtreehandler for Defaultmarkup to add owl knowledge" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	-->

</plugin>
