/* Discussion */
table.discussion {
	display:inline-block;
	width:800px !important;
	margin-right:20px;
	overflow: hidden;
}
table.discussion tr {
	border:1px solid black;
	display:inline-table;
	width:798px;
}
table.discussion tr.inactive {
	background-color:grey;
	color:#CCC;
	height:75px;
}
table.discussion th {
	text-align:center;
	background-color:#063D79;
	padding:0.5em 0.25em 0.25em;
	color:white;
	font-size:110%;
	font-variant:small-caps;
}
table.discussion td {
	padding-top:10px;
}
table.discussion li {
	list-style: square;	
}
table.discussion tr td.new, table.discussion tr td.old {
	width:10px;
}
table.discussion tr td.new {
	background-color:green;
}
table.discussion tr td.old {
	background-color:grey;
}
table.discussion input[type="button"] {
	float:right;
}
table.discussion div {
	overflow: hidden;
	padding: 0;
	margin: 0;	
}
table.discussion form input[type="button"] {
	float:none;
}
table.discussion form p.topic_label {
	margin:0 0 8px 0;
}
table.discussion form p {
	margin: 0px;	
}
table.discussion textarea, table.discussion input[type="text"] {
	font-size: 130%;	
	font-family: monospace;
}

table.discussion img, table.discussion div.userchat, table.discussion span.userchat {
	display:inline-block;
	margin-bottom: 5px;
}
table.discussion div.userchat {
	width:100%;
	text-align:center;
}
table.discussion div.userchat p {
	font-weight: bold;
	padding: 0;
	margin: 0;	
}
table.discussion img {
	float:left;
}
table.discussion span.userchat {
	margin-top:1.5em;
}
table.discussion span.online {
	color: green;
}
table.discussion span.offline, table.discussion span.newEntry {
	color: red;
}
