body.view { 
	font-size:105%;
	text-align:left;
	line-height:1.3;
	/*font: 12px/1.5 "Lucida Grande", Arial, Helvetica, Sans-Serif;*/
	/*font:76%/140% Verdana,Arial,Helvetica,sans-serif;*/
}

textarea {
    font-size: 150%;
}

div.menulinkroot {
    color: #CCCCCC;
    background-color: #064080;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

div.menulinkrootclosed {
    color: #AAAAAA;
    background-color: #595959;
    text-decoration: none;
    font-weight: bold;
}

div.menulink {
	background-color: #CCCCCC;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

div.menulinkcurrent {
	background-color: #F8BB90;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}




.defi-bttn {
    padding:5px 5px 5px 25px;
    background-color: #dcdcdc;
    border: 1px solid #666;
    color:#000;
    cursor: pointer;
    text-decoration:none;  
}
.defi-download {
	background: #dcdcdc url(../images/disk.png) no-repeat scroll 5px center;
}