<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="d3web-Plugin-Tests-ThrillSeeker" version="0.0.1">
	
	<requires>
		<import plugin-id="d3web-Plugin-TestingFramework" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="UnusedQuestionTest">
		<parameter id="class"
			value="de.d3web.test.UnusedQuestionTest" />
		<parameter id="name" value="UnusedQuestion" />
		<parameter id="description" value="CITest UnusedQuestion" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="UnusedSolutionTest">
		<parameter id="class"
			value="de.d3web.test.UnusedSolutionTest" />
		<parameter id="name" value="UnusedSolution" />
		<parameter id="description" value="CITest UnusedSolution" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="UnderivedQuestionTest">
		<parameter id="class"
			value="de.d3web.test.UnderivedQuestionTest" />
		<parameter id="name" value="UnderivedQuestion" />
		<parameter id="description" value="CITest UnderivedQuestionTest" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="UnderivedSolutionTest">
		<parameter id="class"
			value="de.d3web.test.UnderivedSolutionTest" />
		<parameter id="name" value="UnderivedSolution" />
		<parameter id="description" value="CITest UnderivedSolutionTest" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="MissingPropertyTest">
		<parameter id="class"
			value="de.d3web.test.MissingPropertyTest" />
		<parameter id="name" value="MissingProperty" />
		<parameter id="description" value="CITest MissingPropertyTest" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="NonExitableFlowchart">
		<parameter id="class"
			value="de.d3web.diaflux.test.NonExitableFlowchartTest" />
		<parameter id="name" value="NonExitableFlowchart" />
		<parameter id="description" value="CITest NonExitableFlowchart" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="DistinctFlowcharts">
		<parameter id="class"
			value="de.d3web.diaflux.test.DistinctFlowchartsTest" />
		<parameter id="name" value="DistinctFlowcharts" />
		<parameter id="description" value="CITest DistinctFlowcharts" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="DeadEnd">
		<parameter id="class"
			value="de.d3web.diaflux.test.DeadEndTest" />
		<parameter id="name" value="DeadEnd" />
		<parameter id="description" value="CITest DeadEnd" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="RedundantStartNode">
		<parameter id="class"
			value="de.d3web.diaflux.test.RedundantStartNodeTest" />
		<parameter id="name" value="RedundantStartNode" />
		<parameter id="description" value="CITest RedundantStartNode" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="RedundantDecisionNode">
		<parameter id="class"
			value="de.d3web.diaflux.test.RedundantDecisionNodeTest" />
		<parameter id="name" value="RedundantDecisionNode" />
		<parameter id="description" value="CITest RedundantDecisionNode" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="RedundantExitNode">
		<parameter id="class"
			value="de.d3web.diaflux.test.RedundantExitNodeTest" />
		<parameter id="name" value="RedundantExitNode" />
		<parameter id="description" value="CITest RedundantExitNode" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="DiaFluxDocumentation">
		<parameter id="class"
			value="de.d3web.diaflux.test.DiaFluxDocumentationTest" />
		<parameter id="name" value="DiaFluxDocumentation" />
		<parameter id="description" value="CITest DiaFluxDocumentation" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="InformalNode">
		<parameter id="class"
			value="de.d3web.diaflux.test.InformalNodeTest" />
		<parameter id="name" value="InformalNode" />
		<parameter id="description" value="CITest InformalNode" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<!--extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="DiaFluxCyclomaticComplexity">
		<parameter id="class"
			value="de.d3web.diaflux.metrics.DiaFluxCyclomaticComplexity" />
		<parameter id="name" value="DiaFluxCyclomaticComplexity" />
		<parameter id="description" value="CITest DiaFluxCyclomaticComplexity" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension-->

</plugin>
