<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-OntE" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.knowwe" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

    <extension-point id="ToolbarButtonProvider">
        <parameter-def id="class" />
        <parameter-def id="name" />
        <parameter-def id="description" />
        <parameter-def id="version" />
        <parameter-def id="priority" type="number" />
        <parameter-def id="order" type="number" />
    </extension-point>  
    


    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="OnteRemoveImportedOntologyAction">
        <parameter id="class" value="de.knowwe.onte.action.OnteRemoveImportedOntologyAction" />
        <parameter id="name" value="OnteRemoveImportedOntologyAction" />
        <parameter id="description"
            value="Removes imported ontologies from the wiki" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="OWLApiCheckConsistency">
        <parameter id="class" value="de.knowwe.onte.action.OWLApiCheckConsistency" />
        <parameter id="name" value="OWLApiCheckConsistency" />
        <parameter id="description"
            value="Checks for inconsistency concpt in an OWL ontology." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="GetOntologyHierarchyAction">
        <parameter id="class" value="de.knowwe.onte.action.GetOntologyHierarchyAction" />
        <parameter id="name" value="GetOntologyHierarchyAction" />
        <parameter id="description"
            value="Checks for inconsistency concpt in an OWL ontology." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="OWLApiClassExpressionQueryAction">
        <parameter id="class" value="de.knowwe.onte.action.OWLApiClassExpressionQueryAction" />
        <parameter id="name" value="OWLApiClassExpressionQueryAction" />
        <parameter id="description"
            value="Querys the OWL ontology with a OWLCLassExpression written in OWL Manchester syntax." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="OWLApiOntologyExport">
        <parameter id="class" value="de.knowwe.onte.action.OWLApiOntologyExport" />
        <parameter id="name" value="OWLApiOntologyExport" />
        <parameter id="description"
            value="Returns the serialized local ontology in the specified format." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>  
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="OWLApiRepairInconsistencies">
        <parameter id="class" value="de.knowwe.onte.action.OWLApiRepairInconsistencies" />
        <parameter id="name" value="OWLApiRepairInconsistencies" />
        <parameter id="description"
            value="Repair inconsistencies in a local ontology." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>  
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="ShowExportTabAction">
        <parameter id="class" value="de.knowwe.onte.action.ShowExportTabAction" />
        <parameter id="name" value="ShowExportTabAction" />
        <parameter id="description"
            value="Returns the export ontology form." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="ShowImportTabAction">
        <parameter id="class" value="de.knowwe.onte.action.ShowImportTabAction" />
        <parameter id="name" value="ShowImportTabAction" />
        <parameter id="description"
            value="Returns the export ontology form." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="ShowUndefinedTermsTabAction">
        <parameter id="class" value="de.knowwe.onte.action.ShowUndefinedTermsTabAction" />
        <parameter id="name" value="ShowUndefinedTermsTabAction" />
        <parameter id="description"
            value="Show an overview of undefined terms." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="ShowValidationTabAction">
        <parameter id="class" value="de.knowwe.onte.action.ShowValidationTabAction" />
        <parameter id="name" value="ShowValidationTabAction" />
        <parameter id="description"
            value="Shows a tab to validate the local ontology against known OWL2 profiles" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="KeywordReplaceAction">
        <parameter id="class" value="de.knowwe.onte.action.KeywordReplaceAction" />
        <parameter id="name" value="KeywordReplaceAction" />
        <parameter id="description"
            value="Replaces misspelled or misplaced keywords" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="GetEntityInformationAction">
        <parameter id="class" value="de.knowwe.onte.action.GetEntityInformationAction" />
        <parameter id="name" value="GetEntityInformationAction" />
        <parameter id="description"
            value="Queries the server for stored informations about an OWLEntity" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>      
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="OWL2ProfileValidationTabAction">
        <parameter id="class" value="de.knowwe.onte.action.OWL2ProfileValidationTabAction" />
        <parameter id="name" value="OWL2ProfileValidationTabAction" />
        <parameter id="description"
            value="Checks weather the local ontology fulfilles a OWL2 profile" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>     
    
    <extension plugin-id="d3web-Plugin-TestingFramework-ExtensionPoints" point-id="TestObjectProvider"
		id="OWLAPITestObjectProvider">
		<parameter id="class"
			value="de.knowwe.onte.ci4ke.OWLAPITestObjectProvider" />
		<parameter id="name" value="OWLAPITestObjectProvider" />
		<parameter id="description" value="OWLAPITestObjectProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
    
    <extension plugin-id="d3web-Plugin-TestingFramework-ExtensionPoints" point-id="Test"
        id="OntologyClassificationTest">
        <parameter id="class"
            value="de.knowwe.onte.ci4ke.OntologyClassificationTest" />
        <parameter id="name" value="OntologyClassificationTest" />
        <parameter id="description" value="CITest OntologyClassificationTest" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>     
    <extension plugin-id="d3web-Plugin-TestingFramework-ExtensionPoints" point-id="Test"
        id="OntologyConsistencyTest">
        <parameter id="class"
            value="de.knowwe.onte.ci4ke.OntologyConsistencyTest" />
        <parameter id="name" value="OntologyConsistencyTest" />
        <parameter id="description" value="CITest OntologyConsistencyTest" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="d3web-Plugin-TestingFramework-ExtensionPoints" point-id="Test"
        id="OntologyDLExpressivityTest">
        <parameter id="class"
            value="de.knowwe.onte.ci4ke.OntologyDLExpressivityTest" />
        <parameter id="name" value="OntologyDLExpressivityTest" />
        <parameter id="description" value="CITest OntologyDLExpressivityTest" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>     
    <extension plugin-id="d3web-Plugin-TestingFramework-ExtensionPoints" point-id="Test"
        id="OntologyIndividualExistTest">
        <parameter id="class"
            value="de.knowwe.onte.ci4ke.OntologyIndividualExistTest" />
        <parameter id="name" value="OntologyIndividualExistTest" />
        <parameter id="description" value="CITest OntologyIndividualExistTest" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="d3web-Plugin-TestingFramework-ExtensionPoints" point-id="Test"
        id="OWL2ProfileCheckTest">
        <parameter id="class"
            value="de.knowwe.onte.ci4ke.OWL2ProfileCheckTest" />
        <parameter id="name" value="OWL2ProfileCheckTest" />
        <parameter id="description" value="CITest OWL2ProfileCheckTest" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>       
    
    
    <!-- ########################################################## -->
    <!-- Some EventListener -->
    <!-- ########################################################## -->
    <extension plugin-id="KnowWEExtensionPoints" point-id="EventListener"
        id="OWLApiAxiomCacheEventListener">
        <parameter id="class"
            value="de.knowwe.onte.editor.OWLApiAxiomCacheEventListener" />
        <parameter id="name" value="OWLApiAxiomCacheEventListener" />
        <parameter id="description" value="EventListener OWLApiAxiomCacheEventListener" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
	
    <!-- ########################################################## -->
    <!-- Declaration: Buttons used in the Toolbar of OntE -->
    <!-- ########################################################## -->
    <extension plugin-id="KnowWE-Plugin-OntE" point-id="ToolbarButtonProvider"
        id="CheckConsistencyToolbarButton">
        <parameter id="class"
            value="de.knowwe.onte.toolbar.CheckConsistencyToolbarButton" />
        <parameter id="name" value="CheckConsistencyToolbarButton" />
        <parameter id="description"
            value="Simple button for the toolbar that lets you check the consistency of the ontology." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="order" value="5" />
    </extension>    
    <extension plugin-id="KnowWE-Plugin-OntE" point-id="ToolbarButtonProvider"
        id="ExportToolbarButton">
        <parameter id="class"
            value="de.knowwe.onte.toolbar.ExportToolbarButton" />
        <parameter id="name" value="ExportToolbarButton" />
        <parameter id="description"
            value="Exports the local ontology!" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="order" value="3" />
    </extension>
    <extension plugin-id="KnowWE-Plugin-OntE" point-id="ToolbarButtonProvider"
        id="ImportToolbarButton">
        <parameter id="class"
            value="de.knowwe.onte.toolbar.ImportToolbarButton" />
        <parameter id="name" value="ImportToolbarButton" />
        <parameter id="description"
            value="Shows an overview of imported ontologies and lets you import additional ones!" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="order" value="2" />
    </extension>
     <extension plugin-id="KnowWE-Plugin-OntE" point-id="ToolbarButtonProvider"
        id="CheckOWL2ProfileToolbarButton">
        <parameter id="class"
            value="de.knowwe.onte.toolbar.CheckOWL2ProfileToolbarButton" />
        <parameter id="name" value="CheckOWL2ProfileToolbarButton" />
        <parameter id="description"
            value="Validates the local ontology against knwon OWL2 profiles" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="order" value="5" />
    </extension>       
    <extension plugin-id="KnowWE-Plugin-OntE" point-id="ToolbarButtonProvider"
        id="QueryToolbarButton">
        <parameter id="class"
            value="de.knowwe.onte.toolbar.QueryToolbarButton" />
        <parameter id="name" value="QueryToolbarButton" />
        <parameter id="description"
            value="Query the ontology with manchester class expressions" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="order" value="6" />
    </extension>
     <extension plugin-id="KnowWE-Plugin-OntE" point-id="ToolbarButtonProvider"
        id="UndefinedTermsToolbarButton">
        <parameter id="class"
            value="de.knowwe.onte.toolbar.UndefinedTermsToolbarButton" />
        <parameter id="name" value="UndefinedTermsToolbarButton" />
        <parameter id="description"
            value="Shows a list of currently undefined terms" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="order" value="1" />
    </extension>   
	
	<!-- ########################################################## -->
    <!-- Declaration: ToolProvider used in this plugin -->
    <!-- ########################################################## -->
    <extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
        id="CreateEntityToolProvider">
        <parameter id="class"
            value="de.knowwe.onte.editor.CreateEntityToolProvider" />
        <parameter id="name" value="CreateEntityToolProvider" />
        <parameter id="description"
            value="Creates not found terms in simply and easy way." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="scope" value="IRITermRef" />
    </extension>    
	<extension plugin-id="KnowWEExtensionPoints" point-id="CorrectionProvider"
		id="IRITermCorrectionProvider">
		<parameter id="class"
			value="de.knowwe.util.IRITermCorrectionProvider" />
		<parameter id="name" value="IRITermCorrectionProvider" />
		<parameter id="description"
			value="Generates correction suggestions for OWL" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="105" />
		<parameter id="scope" value="IRITermRef" />
	</extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="CorrectionProvider"
        id="KeywordCorrectionProvider">
        <parameter id="class"
            value="de.knowwe.util.KeywordCorrectionProvider" />
        <parameter id="name" value="KeywordCorrectionProvider" />
        <parameter id="description"
            value="Generates correction suggestions for Manchester OWL syntax frame keywords" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="105" />
        <parameter id="scope" value="MisspelledSyntaxConstruct" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
        id="KeywordCorrectionToolProvider">
        <parameter id="class"
            value="de.knowwe.util.KeywordCorrectionToolProvider" />
        <parameter id="name" value="KeywordCorrectionToolProvider" />
        <parameter id="description"
            value="Offers to quickly correct typos in term references." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="scope" value="MisspelledSyntaxConstruct" />
    </extension>    
    <extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
        id="InstantEditToolProvider">
        <parameter id="class"
            value="de.knowwe.instantedit.tools.InstantEditToolProvider" />
        <parameter id="name" value="InstantEditToolProvider" />
        <parameter id="description"
            value="Offers a button for quick editing a certain section." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="script" value="KnowWE-Plugin-InstantEdit.js" />
        <parameter id="script" value="KnowWE-Plugin-AutoComplete.js" />
        <parameter id="script" value="DefaultEditTool.js" />
        <parameter id="script" value="TextArea.js" />
        <parameter id="css" value="KnowWE-Plugin-InstantEdit.css" />
        <parameter id="css" value="DefaultEditTool.css" />       
        <parameter id="scope" value="DefaultFrame" />
    </extension>    
    


    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
        id="ManchesterDefaultMarkup">
        <parameter id="class" value="de.knowwe.kdom.manchester.ManchesterDefaultMarkup" />
        <parameter id="name" value="ManchesterDefaultMarkup" />
        <parameter id="description" value="Type ManchesterDefaultMarkup" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5"  />
        <parameter id="scope" value="root" />
    </extension> 

    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
        id="ManchesterMarkup">
        <parameter id="class" value="de.knowwe.kdom.manchester.ManchesterMarkup" />
        <parameter id="name" value="ManchesterMarkup" />
        <parameter id="description" value="Type ManchestertMarkup" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="3"  />
        <parameter id="scope" value="root" />
        <parameter id="css" value="onte.css" />
        <parameter id="script" value="knowwe-plugin-onte.js" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
        id="OWLApiQuery">
        <parameter id="class" value="de.knowwe.taghandler.OWLApiQuery" />
        <parameter id="name" value="OWLApiQuery" />
        <parameter id="description" value="Type OWLApiQuery" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5"  />
        <parameter id="scope" value="root" />
    </extension>        
       
       
    <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="OntologyBrowserTagHandler">
        <parameter id="class" value="de.knowwe.taghandler.OntologyBrowserTagHandler" />
        <parameter id="name" value="OntologyBrowserTagHandler" />
        <parameter id="description" value="TagHandler OntologyBrowserTagHandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="script" value="knowwe-plugin-onte.js" />
    </extension>
       
    <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="OWLApiInferenceTagHandler">
        <parameter id="class" value="de.knowwe.taghandler.OWLApiInferenceTagHandler" />
        <parameter id="name" value="OWLApiInferenceTagHandler" />
        <parameter id="description" value="TagHandler OWLApiInferenceTagHandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>    

    <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="OWLApiDebugTagHandler">
        <parameter id="class" value="de.knowwe.taghandler.OWLApiDebugTagHandler" />
        <parameter id="name" value="OWLApiDebugTagHandler" />
        <parameter id="description" value="TagHandler OWLApiDebugTagHandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>        
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="OWLApiOntologyOverviewTagHandler">
        <parameter id="class" value="de.knowwe.taghandler.OWLApiOntologyOverviewTagHandler" />
        <parameter id="name" value="OWLApiOntologyOverviewTagHandler" />
        <parameter id="description" value="TagHandler OWLApiOntologyOverviewTagHandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="OWLApiOntologySerialize">
        <parameter id="class" value="de.knowwe.taghandler.OWLApiOntologySerialize" />
        <parameter id="name" value="OWLApiOntologySerialize" />
        <parameter id="description" value="TagHandler OWLApiOntologySerialize" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="OntEToolbarTagHandler">
        <parameter id="class" value="de.knowwe.onte.editor.OntEToolbarTagHandler" />
        <parameter id="name" value="OntEToolbarTagHandler" />
        <parameter id="description" value="TagHandler OntEToolbarTagHandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension> 
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Terminology"
        id="OWLTerminology">
        <parameter id="class"
            value="de.knowwe.util.OWLTerminology" />
        <parameter id="name" value="OWLTerminology" />
        <parameter id="description"
            value="Introduces OWL-Terminology to the TerminologyManager." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>    
    
    
</plugin>