<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-OntE" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ClassHierarchyMarkup">
		<parameter id="class"
			value="de.knowwe.kdom.classHierarchy.ClassHierarchyMarkup" />
		<parameter id="name" value="ClassHierarchyMarkup" />
		<parameter id="description" value="KnowWEObjectType ClassHierarchyMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TurtleMarkup">
		<parameter id="class"
			value="de.knowwe.kdom.turtle.TurtleMarkup" />
		<parameter id="name" value="TurtleMarkup" />
		<parameter id="description" value="Type TurtleMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
		
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="SimpleIRIDefinition">
		<parameter id="class"
			value="de.knowwe.kdom.turtle.simple.SimpleIRIDefintionMarkup" />
		<parameter id="name" value="SimpleIRIDefinition" />
		<parameter id="description" value="Type SimpleIRIDefinition" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<!-- This simple markup was for testing only -->
		<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TurtleMarkupSimple">
		<parameter id="class"
			value="de.knowwe.kdom.turtle.simple.TurtleMarkupSimple" />
		<parameter id="name" value="TurtleMarkupSimple" />
		<parameter id="description" value="Type TurtleMarkupSimple" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="TerminologyViewHandler">
		<parameter id="class" value="de.knowwe.util.TerminologyViewHandler" />
		<parameter id="name" value="TerminologyViewHandler" />
		<parameter id="description" value="TagHandler TerminologyViewHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
		
	<extension plugin-id="KnowWEExtensionPoints" point-id="CorrectionProvider"
		id="IRITermCorrectionProvider">
		<parameter id="class"
			value="de.knowwe.util.IRITermCorrectionProvider" />
		<parameter id="name" value="IRITermCorrectionProvider" />
		<parameter id="description"
			value="Generates correction suggestions for OWL" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="IRITermReference" />
	</extension>

	
	
</plugin>