<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-DiaFlux-Anomalies" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="KnowWE-Plugin-DiaFlux" />
		<import plugin-id="d3web-Plugin-TestingFramework" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
 		</library>
	</runtime>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="DeadPathTest">
		<parameter id="class" value="de.d3web.we.diaflux.anomalies.DeadPathTest" />
		<parameter id="name" value="DeadPath" />
		<parameter id="description" value="AbstractCITest DeadPathTest" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="IncompletePostconditionTest">
		<parameter id="class" value="de.d3web.we.diaflux.anomalies.IncompletePostconditionTest" />
		<parameter id="name" value="IncompletePostcondition" />
		<parameter id="description" value="AbstractCITest IncompletePostconditionTest" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="InconsistentQuestionTest">
		<parameter id="class" value="de.d3web.we.diaflux.anomalies.InconsistentQuestionTest" />
		<parameter id="name" value="InconsistentQuestion" />
		<parameter id="description" value="AbstractCITest InconsistentQuestion" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="InconsistentValueTest">
		<parameter id="class" value="de.d3web.we.diaflux.anomalies.InconsistentValueTest" />
		<parameter id="name" value="InconsistentValue" />
		<parameter id="description" value="AbstractCITest InconsistentValue" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="IntersectingPostconditionTest">
		<parameter id="class" value="de.d3web.we.diaflux.anomalies.IntersectingPostconditionTest" />
		<parameter id="name" value="IntersectingPostcondition" />
		<parameter id="description" value="AbstractCITest IntersectingPostcondition" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="LoopWithoutSnapshotTest">
		<parameter id="class" value="de.d3web.we.diaflux.anomalies.LoopWithoutSnapshotTest" />
		<parameter id="name" value="LoopWithoutSnapshot" />
		<parameter id="description" value="AbstractCITest LoopWithoutSnapshot" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
			
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="MissingDataTest">
		<parameter id="class" value="de.d3web.we.diaflux.anomalies.MissingDataTest" />
		<parameter id="name" value="MissingData" />
		<parameter id="description" value="AbstractCITest MissingData" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>	
		
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="NoAutoStartTest">
		<parameter id="class" value="de.d3web.we.diaflux.anomalies.NoAutoStartTest" />
		<parameter id="name" value="NoAutoStart" />
		<parameter id="description" value="AbstractCITest NoAutoStart" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
			
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="RedundantStartNodeTest">
		<parameter id="class" value="de.d3web.we.diaflux.anomalies.RedundantStartNodeTest" />
		<parameter id="name" value="RedundantStartNode" />
		<parameter id="description" value="AbstractCITest RedundantStartNode" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="RedundantValueTest">
		<parameter id="class" value="de.d3web.we.diaflux.anomalies.RedundantValueTest" />
		<parameter id="name" value="RedundantValue" />
		<parameter id="description" value="AbstractCITest RedundantValue" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-DiaFlux" point-id="DiaFluxDisplayEnhancement"
		id="AnomaliesHighlight">
		<parameter id="class"
			value="de.d3web.we.diaflux.pathcoloring.AnomaliesHighlight" />
		<parameter id="name" value="AnomaliesHighlight" />
		<parameter id="description" value="AnomaliesHighlight" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="diaflux" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="GetAnomaliesHighlightAction">
		<parameter id="class"
			value="de.d3web.we.diaflux.pathcoloring.GetAnomaliesHighlightAction" />
		<parameter id="name" value="GetAnomaliesHighlightAction" />
		<parameter id="description" value="Action GetAnomaliesHighlightAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="HighlightProvider">
		<parameter id="class"
			value="de.d3web.we.diaflux.pathcoloring.HighlightProvider" />
		<parameter id="name" value="HighlightProvider" />
		<parameter id="description"
			value="Enables highlighting for Anomalies." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="DiaFlux" />
	</extension>

</plugin>
