<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-CI4KE-Anomalies" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="d3web-Plugin-TestingFramework-ExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		
	</runtime>

	<extension plugin-id="d3web-Plugin-TestingFramework-ExtensionPoints" point-id="Test"
		id="AnomaliesCITest">
		<parameter id="class" value="de.d3web.we.ci4ke.anomalies.AnomaliesCITest" />
		<parameter id="name" value="AnomaliesCITest" />
		<parameter id="description" value="AbstractCITest AnomaliesCITest" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework-ExtensionPoints" point-id="Test"
		id="AnomalyUnconnectedNode">
		<parameter id="class" value="de.d3web.we.ci4ke.anomalies.AnomalyUnconnectedNode" />
		<parameter id="name" value="AnomalyUnconnectedNode" />
		<parameter id="description" value="AbstractCITest AnomalyUnconnectedNode" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework-ExtensionPoints" point-id="Test"
		id="AnomalyAutostartFlow">
		<parameter id="class" value="de.d3web.we.ci4ke.anomalies.AnomalyAutostartFlow" />
		<parameter id="name" value="AnomalyAutostartFlow" />
		<parameter id="description" value="AbstractCITest AnomalyAutostartFlow" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework-ExtensionPoints" point-id="Test"
		id="AnomalyInconsistentInd">
		<parameter id="class" value="de.d3web.we.ci4ke.anomalies.AnomalyInconsistentInd" />
		<parameter id="name" value="AnomalyInconsistentInd" />
		<parameter id="description" value="AbstractCITest AnomalyInconsistentInd" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Plugin-TestingFramework-ExtensionPoints" point-id="Test"
		id="AnomalyUnusedElements">
		<parameter id="class" value="de.d3web.we.ci4ke.anomalies.AnomalyUnusedElements" />
		<parameter id="name" value="AnomalyUnusedElements" />
		<parameter id="description" value="AbstractCITest AnomalyUnusedElements" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>	
	
</plugin>
