<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-BasicRDFS" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>


	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ObjectPropertyDefinition">
		<parameter id="class"
			value="de.knowwe.rdfs.ObjectPropertyDefinitionMarkup" />
		<parameter id="name" value="ObjectPropertyDefinition" />
		<parameter id="description" value="Type ObjectPropertyDefinition" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ClassDefinitionMarkup">
		<parameter id="class"
			value="de.knowwe.rdfs.ClassDefinitionMarkup" />
		<parameter id="name" value="ClassDefinitionMarkup" />
		<parameter id="description" value="Type ClassDefinitionMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TripleMarkup">
		<parameter id="class"
			value="de.knowwe.rdfs.TripleMarkup" />
		<parameter id="name" value="TripleMarkup" />
		<parameter id="description" value="Type TripleMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="ObjectInfoPageToolProvider">
		<parameter id="class"
			value="de.knowwe.core.ObjectInfoPageToolProvider" />
		<parameter id="name" value="ObjectInfoPageToolProvider" />
		<parameter id="description"
			value="Offer a button to navigate to the object information page of an selected object." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="IRITermRef" />

	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="ConceptPageLinkProvider">
		<parameter id="class"
			value="de.knowwe.tool.conceptLink.ConceptPageLinkProvider" />
		<parameter id="name" value="ConceptPageLinkProvider" />
		<parameter id="description"
			value="Offer a link to the page with the corresponding name." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="IRITermRef" />

	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Terminology"
		id="RDFSTerminology">
		<parameter id="class"
			value="de.knowwe.rdfs.RDFSTerminology" />
		<parameter id="name" value="RDFSTerminology" />
		<parameter id="description"
			value="Introduce RDFS-Terminology to TerminologyManager." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />

	</extension>
	

		<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TurtleMarkupSimple">
		<parameter id="class"
			value="de.knowwe.rdfs.TripleMarkupSimple" />
		<parameter id="name" value="TurtleMarkupSimple" />
		<parameter id="description" value="Type TurtleMarkupSimple" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3" />
		<parameter id="scope" value="root" />
	</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="SimpleIRIDefinition">
		<parameter id="class"
			value="de.knowwe.rdfs.SimpleIRIDefintionMarkup" />
		<parameter id="name" value="SimpleIRIDefinition" />
		<parameter id="description" value="Type SimpleIRIDefinition" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="root" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ComplexIRIDefinitionMarkup">
		<parameter id="class"
			value="de.knowwe.rdfs.ComplexIRIDefinitionMarkup" />
		<parameter id="name" value="ComplexIRIDefinitionMarkup" />
		<parameter id="description" value="Type ComplexIRIDefinitionMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3" />
		<parameter id="scope" value="root" />
	</extension>

	
</plugin>