<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Biolog" version="0.0.1">

	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="KnowWE-Plugin-d3web" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>


	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="BibTex">
		<parameter id="class" value="de.d3web.we.kdom.bibtex.BibTex" />
		<parameter id="name" value="BibTex" />
		<parameter id="description" value="Type BibTex" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="script" value="Biolog.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="EMLXMLType">
		<parameter id="class" value="de.d3web.we.biolog.kdom.eml.EMLXMLType" />
		<parameter id="name" value="EMLXMLType" />
		<parameter id="description" value="Type EMLXMLType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="FreeMapType">
		<parameter id="class" value="de.d3web.we.biolog.freemap.FreeMapType" />
		<parameter id="name" value="FreeMapType" />
		<parameter id="description" value="Type FreeMapType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>


	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="BiologSearchTagHandler">
		<parameter id="class" value="de.d3web.we.biolog.BiologSearchTagHandler" />
		<parameter id="name" value="BiologSearchTagHandler" />
		<parameter id="description" value="TagHandler BiologSearchTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Instantiation"
		id="BiologPlugin">
		<parameter id="class" value="de.d3web.we.biolog.BiologPlugin" />
		<parameter id="name" value="BiologPlugin" />
		<parameter id="description" value="Instantiation BiologPlugin" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="SearchAction">
		<parameter id="class" value="de.d3web.we.biolog.action.SearchAction" />
		<parameter id="name" value="SearchAction" />
		<parameter id="description" value="KnowWEAction SearchAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="AutocompleteAction">
		<parameter id="class" value="de.d3web.we.biolog.action.AutocompleteAction" />
		<parameter id="name" value="AutocompleteAction" />
		<parameter id="description" value="KnowWEAction AutocompleteAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="UpdateCloudAction">
		<parameter id="class" value="de.d3web.we.biolog.action.UpdateCloudAction" />
		<parameter id="name" value="UpdateCloudAction" />
		<parameter id="description" value="KnowWEAction UpdateCloudAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="SearchProvider" id="BibtexSearchProvider">
		<parameter id="class"
			value="de.d3web.we.biolog.search.BibtexSearchProvider" />
		<parameter id="name" value="BibtexSearchProvider" />
		<parameter id="description" value="KnowWESearchProvider BibtexSearchProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5.0" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="SearchProvider" id="EMLSearchProvider">
		<parameter id="class" value="de.d3web.we.biolog.search.EMLSearchProvider" />
		<parameter id="name" value="EMLSearchProvider" />
		<parameter id="description" value="KnowWESearchProvider EMLSearchProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5.0" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="SearchProvider" id="AnnotationsProvider">
		<parameter id="class" value="de.d3web.we.biolog.search.AnnotationsProvider" />
		<parameter id="name" value="AnnotationsProvider" />
		<parameter id="description" value="KnowWESearchProvider AnnotationsProvider" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5.0" />
	</extension>

</plugin>