<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-TextAnnotation" version="1.0">
    
    <requires>
        <import plugin-id="KnowWEExtensionPoints" />
        <import plugin-id="d3web-Plugin-TestingFramework" />
        <import plugin-id="KnowWE-Plugin-TermBrowser" />
    </requires>
    
    <runtime>
        <library id="de.d3web" path="." type="code">
            <export prefix="*" />
        </library>
        <library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
        </library>
    </runtime>
    
    <extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="DragDropInserter"
		id="TextAnnotationDropInserter">
		<parameter id="class"
			value="de.knowwe.annotation.TextAnnotationDropInserter" />
		<parameter id="name" value="TextAnnotationDropInserter" />
		<parameter id="description" value="DragAndDropEditInserter TextAnnotationDropInserter" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="AnnotatableParagraph" />
	</extension>
    	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="AnnotatableParagraph">
		<parameter id="class"
			value="de.knowwe.annotation.type.AnnotatableParagraph" />
		<parameter id="name" value="AnnotatableParagraph" />
		<parameter id="description" value="KnowWEObjectType AnnotatableParagraph  to be injected into KnowWE-Plugin-JSPWikiMarkupSet.ParagraphType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="9" />
		<parameter id="scope" value="de.knowwe.jspwiki.types.ParagraphType" />
		<parameter id="scope" value="de.knowwe.jspwiki.types.ParagraphTypeForLists" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="AnnotatableHeaderType">
		<parameter id="class" value="de.knowwe.annotation.type.header.AnnotatableHeaderType" />
		<parameter id="name" value="AnnotatableHeaderType" />
		<parameter id="description" value="Represents a HeaderType in KDOM" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1.8" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="AnnotatableHeaderType1">
		<parameter id="class" value="de.knowwe.annotation.type.header.AnnotatableHeaderType1" />
		<parameter id="name" value="AnnotatableHeaderType1" />
		<parameter id="description" value="Represents a HeaderType in KDOM" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1.9" />
		<parameter id="scope" value="root" />
	</extension>
	
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="AnnotatableHeaderType2">
		<parameter id="class" value="de.knowwe.annotation.type.header.AnnotatableHeaderType2" />
		<parameter id="name" value="AnnotatableHeaderType2" />
		<parameter id="description" value="Represents a HeaderType in KDOM" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="2.0" />
		<parameter id="scope" value="root" />
	</extension>

    <extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="DragDropInserter"
		id="HeadlineDropInserter">
		<parameter id="class"
			value="de.knowwe.annotation.type.header.HeadlineDragDropInserter" />
		<parameter id="name" value="HeadlineDropInserter" />
		<parameter id="description" value="DragAndDropEditInserter HeadlineDropInserter" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="HeaderType" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ConceptList">
		<parameter id="class" value="de.knowwe.annotation.type.list.ConceptList" />
		<parameter id="name" value="ConceptList" />
		<parameter id="description" value="Represents a ConceptList in KDOM" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="2.0" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWE-Plugin-TermBrowser" point-id="DragDropInserter"
		id="ConceptListDropInserter">
		<parameter id="class"
			value="de.knowwe.annotation.type.list.ConceptListDropInserter" />
		<parameter id="name" value="ConceptListDropInserter" />
		<parameter id="description" value="DragAndDropEditInserter ConceptListDropInserter" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="scope" value="ConceptList" />
	</extension>
	
	
</plugin>