div.sortable span {
	display: none;
}

div.table-edit span {
	display: none;
}

div.table-edit {
	overflow: auto;
}

div.addRow{
	height: 12px;
	width: 12px;
	margin-left: 10px;
	margin-top: 5px; 
	margin-right: 5px; 
	float:left;
	background-image: url(../images/plus.png);
}

div.addCol{
	height: 12px;
	width: 12px;
	margin-top: 15px; 
	margin-left: 5px;
	float:left;
	background-image: url(../images/plus.png);
}

tr.tcLine{
	height: 28px;
}


tr.tcError td div {
	display: none;
}


