<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-TestcaseTable" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
		<import plugin-id="KnowWE-Plugin-d3web-basic" />
		<import plugin-id="KnowWE-Plugin-d3web-MarkupSet" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
		 	<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
	
	 
	 
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="TestcaseTableType">
		<parameter id="class"
			value="de.d3web.we.testcase.TestcaseTableType" />
		<parameter id="name" value="TestcaseTableType" />
		<parameter id="description" value=" TestcaseTableXMLType" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="RunTestcaseAction">
		<parameter id="class"
			value="de.d3web.we.testcase.RunTestcaseAction" />
		<parameter id="name" value="RunTestcaseAction" />
		<parameter id="description" value="Action RunTestcaseAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
		
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="TestcaseTableResetAction">
		<parameter id="class"
			value="de.d3web.we.testcase.TestcaseTableResetAction" />
		<parameter id="name" value="TestcaseTableResetAction" />
		<parameter id="description" value="Action TestcaseTableResetAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="TestcaseImportAction">
		<parameter id="class"
			value="de.d3web.we.testcase.TestcaseImportAction" />
		<parameter id="name" value="TestcaseImportAction" />
		<parameter id="description" value="Action TestcaseImportAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="TestcaseTableResetProvider">
		<parameter id="class" value="de.d3web.we.testcase.TestcaseTableResetProvider" />
		<parameter id="name" value="TestcaseTableResetProvider" />
		<parameter id="description" value="Offers a button to reset the session" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="/TestcaseTableType" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="TestcaseTableDownloadProvider">
		<parameter id="class" value="de.d3web.we.testcase.TestcaseTableDownloadProvider" />
		<parameter id="name" value="TestcaseTableDownloadProvider" />
		<parameter id="description" value="Offers a button to download the testcase" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="/TestcaseTableType" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="TestcaseImportProvider">
		<parameter id="class" value="de.d3web.we.testcase.TestcaseImportProvider" />
		<parameter id="name" value="TestcaseImportProvider" />
		<parameter id="description" value="Offers a button to inport a testcase" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="/TestcaseTableType" />
	</extension>


	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="TestcaseDownload">
		<parameter id="class" value="de.d3web.we.testcase.TestcaseDownload" />
		<parameter id="name" value="TestcaseDownload" />
		<parameter id="description" value="Action TestcaseDownload" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
</plugin>