body.view {
	font-size: 105%;
	text-align: left;
	line-height: 1.3;
	/*font: 12px/1.5 "Lucida Grande", Arial, Helvetica, Sans-Serif;*/
	/*font:76%/140% Verdana,Arial,Helvetica,sans-serif;*/
}

input[type=submit],input[type=reset],input[type=button] {
	font-size: 105%;
}

textarea {
	font-size: 150%;
}
/* infobox */
.infobox {
	float: left;
	height: 161px;
	width: 360px;
	margin: 0 6px 0 0;
	padding: 0;
	overflow: hidden;
	background-color: #d8dadc;
}

.infobox * {
	margin: 0;
	padding: 0;
}

.infobox div {
	width: 50%;
	float: left;
}

.infobox span.label {
	height: 21px;
	width: 100%;
	background-color: #F9F9F9;
	display: inline-block;
	font-size: 17px;
	padding: 0.25em 0 !important;
	border: 1px solid #063D79;
}

.infobox span.topic {
	height: 19px;
	font-size: 18px;
	text-align: center;
	padding: 0 0 0.3em !important;
	margin: 0 !important;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

/* therapist box / chat box */
.therapistbox, .chatbox {
	position: relative;
}

.therapistbox p, .chatbox p {
	position: absolute;
	left: 0;
	top: 82px;
	width: 100%;
	text-align: center;
}
.therapistbox p span, .chatbox p span {
	font-size: 17px;
	color: red;
	background-image: url("../images/mailicon.png");
	background-repeat: no-repeat;
	background-position: 12px 4px;
	border: 0;
	margin: 0 0 0 -5px;
	padding: 2px 10px 2px 35px;
	border-radius: 15px;
	background-color: #F9F9F9;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}

.therapistbox img {
	margin: 9px 0 0 0;
}

.chatbox img {
	margin: 3px 0 -2px 0;
}

.therapistbox a,.chatbox a {
	width: 100%;
	height: 161px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

.therapistbox a:hover,.chatbox a:hover {
	background-color: #eeeeee;
}
/* readbutton */
div.readbutton,div.readbutton td {
	text-align: center;
}

div.readbutton tr.enabled {
	border: 1px solid black;
}

div.readbutton tr.disabled {
	border: 1px solid #BBB;
	color: #BBB;
}

div.readbutton input[type=button] {
	margin-top: 10px;
}

div.readbutton div.linkBorder {
	display: inline-block;
	padding: 5px 20px;
	border: 2px solid #063D79;
	border-radius: 4px;
}

div.readbutton p.discuss a {
	text-decoration: underline;
	margin-left: 5px;
	margin-right: 5px;
}
/* userlist */
table.userlist tr {
	border: 1px solid black;
}

table.userlist span.online {
	color: green;
}

table.userlist span.offline {
	color: red;
}

/* Menu */
td.menulinkroot {
	color: #CCCCCC;
	background-color: #064080;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}

td.menulinkrootclosed {
	color: #AAAAAA;
	background-color: #595959;
	text-decoration: none;
	font-weight: bold;
}

td.menulink {
	background-color: #CCCCCC;
	color: #000000;
	cursor: pointer;
	text-decoration: none;
}

td.menulinkcurrent,td.menulinkrootcurrent {
	background-color: #F8BB90;
	color: #000000;
	cursor: pointer;
	text-decoration: none;
}

td.menulinkroot a {
	color: #CCCCCC !important;
}

td.menulink a,td.menulinkcurrent a,td.menulinkrootcurrent a {
	color: #000000 !important;
}

td.menulinkrootcurrent {
	font-weight: bold;
}

td.menulinkroot:hover {
	background-color: highlight;
}

td.menulink:hover {
	background-color: #eee;
}

table.menulink td {
	padding: 0.25em 0.5em;
	border: 2px solid white;
}

table.menulink {
	border-collapse: collapse;
}

table.menulink * {
	width: 170px;
}
/* */
.defi-bttn {
	padding: 5px 5px 5px 25px;
	background-color: #dcdcdc;
	border: 1px solid #666;
	color: #000;
	cursor: pointer;
	text-decoration: none;
}

.defi-download {
	background: #dcdcdc url(../images/disk.png) no-repeat scroll 5px center;
}
/* Readstatus */
li.readstatus {
	list-style-type: none;
}

li.readstatusWARN {
	list-style-type: none;
	color: red;
}
/* Login */
#login_defi {
	position: absolute;
	top: 22px;
	left: 14.02em;
	width: 828px;
	height: 168px;
	background-color: white;
	text-align: center;
}

#login_defi h2 {
	color: #063d79;
}
/* forum */
a.forumLinkLeft {
	float: left;
	padding-left: 26px;
	background: url(../images/Pfeil_nach_links_klein.gif) no-repeat scroll
		left 1px;
}

a.forumLinkRight {
	float: right;
	padding-right: 26px;
	background: url(../images/Pfeil_nach_rechts_klein.gif) no-repeat scroll
		right 1px;
}

div.forumTextareaContainer textarea {
	width: 100%;
}
/* aboutme */
h1.aboutme,h2.aboutme {
	color: #063d79;
}

h1.aboutme,h2.aboutme {
	text-align: center;
}

div.aboutme {
	padding-left: 40px;
	padding-right: 40px;
}

div.aboutme input,div.aboutme textarea {
	font-size: 110%;
	font-family: MS Shell Dlg;
}

div.aboutme div.aboutmeChat {
	border: 1px solid black;
	padding: 40px;
	font-weight: bold;
}

div.aboutme div.aboutmeChat span {
	margin-right: 20px;
}
/* usermanager */
#usermanager {
	border: 1px solid black;
	padding: 15px;
}

#usermanager h4 {
	margin: 0;
	padding: 0;
}

#usermanager ul {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

#usermanager span {
	font-weight: bolder;
	color: red;
	cursor: pointer;
}

#usermanager span:hover {
	color: purple;
}

#usermanager p {
	width: 45%;
}

#usermanager p input {
	float: right;
}

#usermanager table {
	margin: 10px 0;
	padding: 0;
}

#usermanager div {
	margin-bottom: 15px;
	border: 1px solid black;
	padding: 0 10px 10px 10px;
	position: absolute;
	background-color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 5px 5px 5px 5px rgba(20, 20, 20, 0.5);
	-moz-box-shadow: 5px 5px 5px 5px rgba(20, 20, 20, 0.5);
	box-shadow: 5px 5px 5px 5px rgba(20, 20, 20, 0.5);
}
/* Private Kommunikation */
div.privatecom {
	border: 1px solid rgb(6, 61, 121);
	padding: 30px 20px;
	font-weight: bolder;
}

div.privatecom span {
	margin-right: 20px;
}
/* Menu */
td.menulinkroot {
	color: #CCCCCC;
	background-color: #064080;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}

td.menulinkrootclosed {
	color: #AAAAAA;
	background-color: #595959;
	text-decoration: none;
	font-weight: bold;
}

td.menulink {
	background-color: #CCCCCC;
	color: #000000;
	cursor: pointer;
	text-decoration: none;
}

td.menulinkcurrent,td.menulinkrootcurrent {
	background-color: #F8BB90;
	color: #000000;
	cursor: pointer;
	text-decoration: none;
}

td.menulinkroot a {
	color: #CCCCCC !important;
}

td.menulink a,td.menulinkcurrent a,td.menulinkrootcurrent a {
	color: #000000 !important;
}

td.menulinkrootcurrent {
	font-weight: bold;
}

td.menulinkroot:hover {
	background-color: highlight;
}

td.menulink:hover {
	background-color: #eee;
}

table.menulink td {
	padding: 0.25em 0.5em;
	border: 2px solid white;
}

table.menulink {
	border-collapse: collapse;
}

table.menulink * {
	width: 170px;
}