.nodeVisited {
 	border: 3px solid green;
}

.ruleVisited .v_line, .ruleVisited .h_line{
	border: 1px solid green;
}

input#numQuestion{
	padding: 0px;
	max-width: 70px;
}

div.dialogBox{
	border: 1px solid black;
	margin-top: 5px;
	margin-left: 5px;
	padding: 3px;
	z-index: 101;
}

div#hiddenNodeId, div#hiddenQuestion{
	display: none;
}

div#closeButton{
	width: 16px;
	height: 16px;
	position: absolute;
	cursor: pointer;
	background-image: url("../images/cross.png");
}

div.resetButton{
	background-image: url("../images/progress_stop.gif");
	background-repeat: no-repeat;
	height: 16px;
	width: 20px;
	cursor: pointer;
	float: left;
}

div#sessionNavigator{
	display: none;	
}

div#nextStep{
	background-image: url("../images/arrow_right.png");
	background-repeat: no-repeat;
	height: 16px;
	width: 20px;
	cursor: pointer;
	clear: left;
}

div#playSession{
	background-image: url("../images/arrow_right_old.png");
	background-repeat: no-repeat;
	height: 16px;
	width: 20px;
	cursor: pointer;
}

div#showButton{
	cursor: pointer;
	float: left;
}

div#Buttons{

}

div#saveSession{
	height: 16px;
	width: 20px;
	cursor: pointer;
	background-image: url("../images/disk.png");
	background-repeat: no-repeat;
	float: left;
}

div#loadSessionParent{
	clear:left;	
}

.sessionDifferenceRule .v_line, .sessionDifferenceRule .h_line{
	border: 1px solid blue;
}

.sessionDifferenceNode {
 	border: 3px solid blue;
}

div#inputError{
	color: red;	
}

