<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-Debugger" version="0.0.1">
    
    <requires>
        <import plugin-id="KnowWEExtensionPoints" />
    </requires>
    
    <runtime>
        <library id="de.d3web" path="." type="code">
            <export prefix="*" />
        </library>
        <library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
        </library>
    </runtime>
        
    <extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
        id="DebugHandler">
        <parameter id="class" value="de.knowwe.debugger.DebugHandler" />
        <parameter id="name" value="DebugHandler" />
        <parameter id="description" value="TagHandler DebugHandler" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="script" value="KnowWE-Plugin-Debugger.js" />
        <parameter id="css" value="debugger.css" />
    </extension>   
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="DebugAction">
        <parameter id="class"
            value="de.knowwe.debugger.DebugAction" />
        <parameter id="name" value="DebugAction" />
        <parameter id="description" value="Action DebugAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    
</plugin>
