<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-CaseTrain" version="0.0.1">
    
    <requires>
        <import plugin-id="KnowWEExtensionPoints" />
    </requires>
    
    <runtime>
        <library id="de.d3web" path="." type="code">
            <export prefix="*" />
        </library>
        <library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
        </library>
    </runtime>
    
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Introduction">
		<parameter id="class" value="de.knowwe.casetrain.type.Introduction" />
		<parameter id="name" value="Introduction" />
		<parameter id="description" value="Type Introduction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Info">
		<parameter id="class" value="de.knowwe.casetrain.info.Info" />
		<parameter id="name" value="Info" />
		<parameter id="description" value="Type Info" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Evaluation">
		<parameter id="class" value="de.knowwe.casetrain.evaluation.Evaluation" />
		<parameter id="name" value="Evaluation" />
		<parameter id="description" value="Type Evaluation" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="MetaData">
		<parameter id="class" value="de.knowwe.casetrain.type.MetaData" />
		<parameter id="name" value="MetaData" />
		<parameter id="description" value="Type MetaData" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Closure">
		<parameter id="class" value="de.knowwe.casetrain.type.Closure" />
		<parameter id="name" value="Abschluss" />
		<parameter id="description" value="Type Closure" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="TagHandler"
		id="XMLButtonTagHandler">
		<parameter id="class" value="de.knowwe.casetrain.taghandler.XMLButtonTagHandler" />
		<parameter id="name" value="XMLButtonTagHandler" />
		<parameter id="description" value="TagHandler XMLButtonTagHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="script" value="CaseTrain.js" />
	</extension>

	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="ParseXMLAction">
		<parameter id="class" value="de.knowwe.casetrain.taghandler.ParseXMLAction" />
		<parameter id="name" value="ParseXMLAction" />
		<parameter id="description" value="KnowWEAction ParseXMLAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

 	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
        id="InstantEditToolProvider">
        <parameter id="class"
            value="de.knowwe.instantedit.tools.InstantEditToolProvider" />
        <parameter id="name" value="InstantEditToolProvider" />
        <parameter id="description"
            value="Offers a button for quick editing a certain section." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="script" value="KnowWE-Plugin-InstantEdit.js" />
        <parameter id="script" value="KnowWE-Plugin-AutoComplete.js" />
        <parameter id="script" value="DefaultEditTool.js" />
        <parameter id="script" value="TextArea.js" />
        <parameter id="css" value="KnowWE-Plugin-InstantEdit.css" />
        <parameter id="css" value="DefaultEditTool.css" />
        <parameter id="scope" value="MetaData" />
        <parameter id="scope" value="BlockMarkupContent" />
    </extension>    
</plugin>