<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-CaseTrain" version="0.0.1">
    
    <requires>
        <import plugin-id="KnowWEExtensionPoints" />
    </requires>
    
    <runtime>
        <library id="de.d3web" path="." type="code">
            <export prefix="*" />
        </library>
        <library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
        </library>
    </runtime>
    
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Einleitung">
		<parameter id="class" value="de.knowwe.caseTrain.type.Einleitung" />
		<parameter id="name" value="Einleitung" />
		<parameter id="description" value="Type Einleitung" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Info">
		<parameter id="class" value="de.knowwe.caseTrain.type.Info" />
		<parameter id="name" value="Info" />
		<parameter id="description" value="Type Info" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="MetaDaten">
		<parameter id="class" value="de.knowwe.caseTrain.type.MetaDaten" />
		<parameter id="name" value="MetaDaten" />
		<parameter id="description" value="Type MetaDaten" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Abschluss">
		<parameter id="class" value="de.knowwe.caseTrain.type.Abschluss" />
		<parameter id="name" value="Abschluss" />
		<parameter id="description" value="Type Abschluss" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>

 <!--   

   
    -->
</plugin>