<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-CaseTrain" version="0.0.1">
    
    <requires>
        <import plugin-id="KnowWEExtensionPoints" />
    </requires>
    
    <runtime>
        <library id="de.d3web" path="." type="code">
            <export prefix="*" />
        </library>
        <library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
        </library>
    </runtime>
    
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Introduction">
		<parameter id="class" value="de.knowwe.casetrain.type.Introduction" />
		<parameter id="name" value="Introduction" />
		<parameter id="description" value="Type Introduction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Info">
		<parameter id="class" value="de.knowwe.casetrain.info.Info" />
		<parameter id="name" value="Info" />
		<parameter id="description" value="Type Info" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Evaluation">
		<parameter id="class" value="de.knowwe.casetrain.evaluation.Evaluation" />
		<parameter id="name" value="Evaluation" />
		<parameter id="description" value="Type Evaluation" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>
	
		<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="MetaData">
		<parameter id="class" value="de.knowwe.casetrain.type.MetaData" />
		<parameter id="name" value="MetaData" />
		<parameter id="description" value="Type MetaData" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="Closure">
		<parameter id="class" value="de.knowwe.casetrain.type.Closure" />
		<parameter id="name" value="Abschluss" />
		<parameter id="description" value="Type Closure" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5"  />
		<parameter id="scope" value="root" />
		<parameter id="script" value="KnowWE-Plugin-Defi.js" />
		<parameter id="css" value="caseTrain.css" />
	</extension>

 <!--   

   
    -->
</plugin>