<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-QuickEdit" version="0.0.1">
    
    <requires>
        <import plugin-id="KnowWEExtensionPoints" />
    </requires>
    
    <runtime>
        <library id="de.knowwe" path="." type="code">
            <export prefix="*" />
        </library>
        <library id="webapp" path="webapp/" type="resources">
            <export prefix="*" />
        </library>
    </runtime>

    <extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
        id="QuickEditToolProvider">
        <parameter id="class"
            value="de.knowwe.we.tools.QuickEditToolProvider" />
        <parameter id="name" value="QuickEditToolProvider" />
        <parameter id="description"
            value="Offers a button for quick editing a certain section." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="script" value="knowwe-plugin-quickedit.js" />
        <parameter id="css" value="knowwe-plugin-quickedit.css" />         
        <parameter id="scope" value="TurtleMarkup" />       
    </extension>
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="QuickEditHandlingAction">
        <parameter id="class"
            value="de.knowwe.we.action.QuickEditHandlingAction" />
        <parameter id="name" value="QuickEditHandlingAction" />
        <parameter id="description" value="Action QuickEditHandlingAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="QuickEditEnableAction">
        <parameter id="class"
            value="de.knowwe.we.action.QuickEditEnableAction" />
        <parameter id="name" value="QuickEditEnableAction" />
        <parameter id="description" value="Action QuickEditEnableAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="QuickEditDisableAction">
        <parameter id="class"
            value="de.knowwe.we.action.QuickEditDisableAction" />
        <parameter id="name" value="QuickEditDisableAction" />
        <parameter id="description" value="Action QuickEditDisableAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension>    
    
    <extension plugin-id="KnowWEExtensionPoints" point-id="Action"
        id="RenderAsQuickEditAction">
        <parameter id="class"
            value="de.knowwe.we.action.RenderAsQuickEditAction" />
        <parameter id="name" value="RenderAsQuickEditAction" />
        <parameter id="description" value="Action RenderAsQuickEditAction" />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
    </extension> 
    
</plugin>