/*
 * Various styling for CodeMirror
 */
.cm-s-default span.cm-comment {color: #9F2828;}
.cm-s-default span.cm-keywordJuriJuri {color: black;}
.cm-s-default span.cm-bracket {color: #2828A0;}
.cm-s-default span.cm-equals  {color: #2828A0;}
.cm-s-default span.cm-termJuri{color: green;}
.cm-s-default span.cm-scoring {color: #63289F;}
.cm-s-default span.cm-information {color: #A168D9;}
.cm-s-default span.cm-listingJuri {color: blue;}

.cm-s-elegant span.cm-comment {color: #9F2828;}
.cm-s-elegant span.cm-keywordJuri{color: black;}
.cm-s-elegant span.cm-bracket{color: #2828A0;}
.cm-s-elegant span.cm-equals {color: #2828A0;}
.cm-s-elegant span.cm-termJuri {color: green;}
.cm-s-elegant span.cm-scoring {color: #63289F;}
.cm-s-elegant span.cm-information {color: #A168D9;}
.cm-s-elegant span.cm-listingJuri {color: blue;}

.cm-s-cobalt span.cm-comment {color: #9F2828;}
.cm-s-cobalt span.cm-keywordJuri{color: black;}
.cm-s-cobalt span.cm-bracket{color: #2828A0;}
.cm-s-cobalt span.cm-equals {color: #2828A0;}
.cm-s-cobalt span.cm-termJuri {color: green;}
.cm-s-cobalt span.cm-scoring {color: #63289F;}
.cm-s-cobalt span.cm-information {color: #A168D9;}
.cm-s-cobalt span.cm-listingJuri {color: blue;}

.cm-s-eclipse span.cm-comment {color: #9F2828;}
.cm-s-eclipse span.cm-keywordJuri{color: black;}
.cm-s-eclipse span.cm-bracket{color: #2828A0;}
.cm-s-eclipse span.cm-equals {color: #2828A0;}
.cm-s-eclipse span.cm-termJuri {color: green;}
.cm-s-eclipse span.cm-scoring {color: #63289F;}
.cm-s-eclipse span.cm-information {color: #A168D9;}
.cm-s-eclipse span.cm-listingJuri {color: blue;}

.cm-s-monokai span.cm-comment {color: #9F2828;}
.cm-s-monokai span.cm-keywordJuri{color: black;}
.cm-s-monokai span.cm-bracket{color: #2828A0;}
.cm-s-monokai span.cm-equals {color: #2828A0;}
.cm-s-monokai span.cm-termJuri {color: green;}
.cm-s-monokai span.cm-scoring {color: #63289F;}
.cm-s-monokai span.cm-information {color: #A168D9;}
.cm-s-monokai span.cm-listingJuri {color: blue;}

.cm-s-neat span.cm-comment {color: #9F2828;}
.cm-s-neat span.cm-keywordJuri{color: black;}
.cm-s-neat span.cm-bracket{color: #2828A0;}
.cm-s-neat span.cm-equals {color: #2828A0;}
.cm-s-neat span.cm-termJuri {color: green;}
.cm-s-neat span.cm-scoring {color: #63289F;}
.cm-s-neat span.cm-information {color: #A168D9;}
.cm-s-neat span.cm-listingJuri {color: blue;}

.cm-s-night span.cm-comment {color: #9F2828;}
.cm-s-night span.cm-keywordJuri{color: black;}
.cm-s-night span.cm-bracket{color: #2828A0;}
.cm-s-night span.cm-equals {color: #2828A0;}
.cm-s-night span.cm-termJuri {color: green;}
.cm-s-night span.cm-scoring {color: #63289F;}
.cm-s-night span.cm-information {color: #A168D9;}
.cm-s-night span.cm-listingJuri {color: blue;}

.cm-s-rubyblue span.cm-comment {color: #9F2828;}
.cm-s-rubyblue span.cm-keywordJuri{color: black;}
.cm-s-rubyblue span.cm-bracket{color: #2828A0;}
.cm-s-rubyblue span.cm-equals {color: #2828A0;}
.cm-s-rubyblue span.cm-termJuri {color: green;}
.cm-s-rubyblue span.cm-scoring {color: #63289F;}
.cm-s-rubyblue span.cm-information {color: #A168D9;}
.cm-s-rubyblue span.cm-listingJuri {color: blue;}

.jurisearch-instantedit {
	position:relative;
	top:0px;
	right:0px;
	border-bottom: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
	padding:5px;
	float:right;
}

.jurisearch-instantedit-pre {
	white-space:pre-wrap;
	background: none repeat scroll 0 0 #F5F5F5;
	border: 1px solid #E5E5E5;
	position:relative;
	margin:0px;
}