<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowWE-Plugin-UserSupportNew" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowWEExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web.we" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
        id="UserSupportInstantEditToolProvider">
        <parameter id="class"
            value="de.d3web.we.instantedit.UserSupportInstantEditToolProvider" />
        <parameter id="name" value="UserSupportInstantEditToolProvider" />
        <parameter id="description"
            value="Offers a button for quick editing a certain section." />
        <parameter id="version" value="1.0" />
        <parameter id="priority" value="5" />
        <parameter id="script" value="KnowWE-Plugin-InstantEdit.js" />
        <!--parameter id="script" value="KnowWE-Plugin-AutoComplete.js" /-->
		<parameter id="script" value="codemirror.js" />
		<parameter id="css" value="diff.css" />
		<parameter id="css" value="default.css" />
		<parameter id="css" value="elegant.css" />
		<parameter id="css" value="codemirror.css" />
		<parameter id="script" value="simple-hint.js" />
		<parameter id="script" value="javascript-hint.js" />
		<parameter id="script" value="javascript.js" />
		<parameter id="script" value="diff.js" />
        <parameter id="script" value="UserSupportInstantEdit.js" />
        <parameter id="script" value="TextArea.js" />
        <parameter id="css" value="KnowWE-Plugin-InstantEdit.css" />
        <parameter id="css" value="DefaultEditTool.css" />
        <parameter id="scope" value="CausalDiagnosisScoreMarkup" />
        <parameter id="scope" value="DecisionTableMarkup" />
        <parameter id="scope" value="HeuristicDiagnosisTableMarkup" />
        <parameter id="scope" value="ApproximateCoveringListMarkup" />
        <parameter id="scope" value="ApproximateRulesMarkup" />
    </extension>
 
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="CausalDiagnosisScoreMarkup">
		<parameter id="class"
			value="de.d3web.we.tables.CausalDiagnosisScoreMarkup" />
		<parameter id="name" value="CausalDiagnosisScoreMarkup" />
		<parameter id="description" value="Type CausalDiagnosisScoreMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="css" value="usersupport.css" />
		<parameter id="script" value="usersupport.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="DecisionTableMarkup">
		<parameter id="class"
			value="de.d3web.we.tables.DecisionTableMarkup" />
		<parameter id="name" value="DecisionTableMarkup" />
		<parameter id="description" value="Type DecisionTableMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="css" value="usersupport.css" />
		<parameter id="script" value="usersupport.js" />
		<parameter id="css" value="default.css" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="HeuristicDiagnosisTableMarkup">
		<parameter id="class"
			value="de.d3web.we.tables.HeuristicDiagnosisTableMarkup" />
		<parameter id="name" value="HeuristicDiagnosisMarkup" />
		<parameter id="description" value="Type HeuristicDiagnosisTableMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
		<parameter id="css" value="usersupport.css" />
		<parameter id="script" value="usersupport.js" />
		<parameter id="css" value="default.css" />
	</extension>
	
	<!-- extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ApproximateCoveringListMarkup">
		<parameter id="class"
			value="de.d3web.we.covering.ApproximateCoveringListMarkup" />
		<parameter id="name" value="ApproximateCoveringListMarkup" />
		<parameter id="description" value="Type ApproximateCoveringListMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension-->

	<!--extension plugin-id="KnowWEExtensionPoints" point-id="Type"
		id="ApproximateRulesMarkup">
		<parameter id="class"
			value="de.d3web.we.rules.ApproximateRulesMarkup" />
		<parameter id="name" value="ApproximateRulesMarkup" />
		<parameter id="description" value="Type ApproximateRulesMarkup" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="root" />
	</extension-->
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="TableExportAction">
		<parameter id="class"
			value="de.d3web.we.tables.action.TableExportAction" />
		<parameter id="name" value="TableExportAction" />
		<parameter id="description" value="Action TableExportAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="TableImportAction">
		<parameter id="class"
			value="de.d3web.we.tables.action.TableImportAction" />
		<parameter id="name" value="TableImportAction" />
		<parameter id="description" value="Action TableImportAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="Action"
		id="KDOMReplaceTermUserSupportAction">
		<parameter id="class"
			value="de.d3web.we.correction.action.KDOMReplaceTermUserSupportAction" />
		<parameter id="name" value="KDOMReplaceTermUserSupportAction" />
		<parameter id="description" value="Action KDOMReplaceTermUserSupportAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
    
	<!--extension plugin-id="KnowWEExtensionPoints" point-id="CorrectionProvider"
		id="ApproximateCorrectionProviderImpl">
		<parameter id="class"
			value="de.d3web.we.correction.ApproximateCorrectionProviderImpl" />
		<parameter id="name" value="ApproximateCorrectionProviderImpl" />
		<parameter id="description"
			value="Generates correction suggestions for d3web terms with approximate
			String matching algorithms." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
        <parameter id="scope" value="TableCell" />
	</extension-->
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="PageAppendHandler"
		id="ApproximateCorrectionAppendHandler">
		<parameter id="class"
			value="de.d3web.we.correction.ApproximateCorrectionAppendHandler" />
		<parameter id="name" value="ApproximateCorrectionAppendHandler" />
		<parameter id="description" value="Dummy for adding CSS/JS" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="css" value="usersupport.css" />
		<parameter id="script" value="usersupport.js" />
	</extension>
	
	<extension plugin-id="KnowWEExtensionPoints" point-id="ToolProvider"
		id="ApproximateCorrectionToolProvider">
		<parameter id="class"
			value="de.d3web.we.correction.ApproximateCorrectionToolProvider" />
		<parameter id="name" value="ApproximateCorrectionToolProvider" />
		<parameter id="description"
			value="Offers to quickly correct typos in term references." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="TableCell" />
		<parameter id="scope" value="TermReference" />
	</extension>
	
	<!-- extension plugin-id="KnowWEExtensionPoints" point-id="ApproximateCorrectionProvider"
		id="ApproximateCorrectionProviderImpl">
		<parameter id="class"
			value="de.d3web.we.correction.ApproximateCorrectionProviderImpl" />
		<parameter id="name" value="ApproximateCorrectionToolProviderImpl" />
		<parameter id="description"
			value="Offers to quickly correct typos in term references." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="scope" value="TableCell" />
	</extension-->

</plugin>
